<div app-theme class="main_areas">
    <div class="contain">
        <div class="header">
            <p>Your Social Information</p>
        </div>
        <app-themes></app-themes>
        <div class="body">
            <div class="setting_details" >
                <div class="input_section">
                <p>Friends</p>
                <div class="name_show"> {{count_frd}} </div>
                </div>
            </div>
            <div class="setting_details" >
                <div class="input_section">
                <p>Posts</p>
                <div class="name_show"> {{user_post}} </div>
                </div>
            </div>
            <div class="setting_details">
                <div class="input_section">
                <p>Places</p>
                </div>
            </div>
        </div>
    </div>
</div>