<div class="sign_up_sec">
	<div class="sign_up_conatiner">
		<div class="sign_up_title">Create an account</div>
		<div class="sign_up_subtitle">it's real quick and safe</div>
		<div class="form_of_sign_up d-flex flex-column">
	    <form [formGroup]="registerForm" (ngSubmit)="registerUser()">

	        <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
	            <input formControlName="email" id="email" class="form-control" type="email" placeholder="Mobile Number or Email">
							<div *ngIf="isSubmitted && formControls.email.errors">
	                <div *ngIf="formControls.email.errors.required" class="error">Email is required.</div>
	                <div *ngIf="formControls.email.errors.email" class="error">Please enter valid email address.</div>
	            </div>
	        </div>

					<div class="form-group" [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
	            <input formControlName="name" id="name" class="form-control" type="text" placeholder="Full Name">
	            <div *ngIf="isSubmitted && formControls.name.errors">
                <div *ngIf="formControls.name.errors.required" class="error">Full Name is required.</div>
	            </div>
	        </div>

					<div class="form-group" [ngClass]="{ 'has-error': formControls.uname.errors }">
	            <input formControlName="uname" id="uname" class="form-control" type="text" placeholder="User Name">
	            <div *ngIf="isSubmitted && formControls.uname.errors">
                <div *ngIf="formControls.uname.errors.required" class="error">User Name is required.</div>
	            </div>
	        </div>

					<div class="form-group" [ngClass]="{ 'has-error': formControls.password.errors }">
	            <input formControlName="password" id="password" class="form-control" type="password" placeholder="Password">
	            <div *ngIf="isSubmitted && formControls.password.errors">
								<div *ngIf="formControls.password.errors.required" class="error">Password is required.</div>
                <div *ngIf="formControls.password.errors.minlength" class="error">Password should be greter then 6 character.</div>
	            </div>
	        </div>

	        <button type="submit" class="btn-full">Sign up</button>
	    </form>
		</div>
		<div class="privacy_aggrement">By signing up, you agree to our Terms , Data Policy and Cookies Policy .</div>
	</div>
	<img class="connecting_image" src="assets/images/connecting_all.png">
</div>
