<div class="overview-main">
  <div class="place_tab">
    <h6>Place lived</h6>
  </div>
  <br/>
  <div class="row">
    <div class="place">
      <img width="40" height="40" src='assets/images/town.png' style="border-radius: 50%;" />
    </div>
    <div class="location" style="font-size: 14px; margin-left: 15px;">
      <!-- <span style="font-weight: 500;">{{u_city}}, {{u_state}}</span> -->
      <div class="text_placed">Current City</div>
      <div *ngIf="show_city">
        {{u_city}}
      </div>
      <div class="no_mention" *ngIf="not_mention_city"> Not mention City</div>
      <!-- <div class="add-city" (click)="newCurrent()">
        <i class="fa fa-plus-circle"></i> &nbsp;<a [routerLink]="">Add your current city</a>
      </div>
      <div class="current" *ngIf="current">
        <input type="text" name="" value="" placeholder="Add your current city">
        <button type="button" name="button" (click)="Cancel()">Cancel</button>
      </div> -->
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="place">
      <img width="40" height="40" src='assets/images/town.png' style="border-radius: 50%;" />
    </div>
    <div class="location" style="font-size: 14px; margin-left: 15px;">
      <!-- <span style="font-weight: 500;">{{u_city}}, {{u_state}}</span> -->
      <div class="text_placed">Home Town</div>
      <div (click)="newHome()" *ngIf="home === false && fill_home === false">
        <i class="fa fa-plus-circle"></i><a class="add-city" [routerLink]="">Add your home town</a>
      </div>
      <div *ngIf="show_home" class="update-list">
        <div class="update-display">
        {{home_town}}
      </div>
        <div class="icons-pencil" *ngIf="icons">
          <i (click)="updateHome(home_town)" class="pencil-icon fa fa-pencil"></i>
          <i (click)="delHome(home_town)" class="pencil-icon fa fa-trash"></i>
        </div>
      </div>
      <div class="no_mention" *ngIf="not_mention_home"> Not mention Home</div>
      <div class="home" *ngIf="fill_home">
        <input (keyup.enter)="addHome(home_town)" type="text" [(ngModel)]="home_town"   name="home_town" id="home_town" value="" placeholder="Add your home town" required>
        <button type="button" name="button" (click)="Cancel1()">Cancel</button>
        <button type="button" name="button" (click)="addHome(home_town)">Save</button>
        <div *ngIf="Required"><p style="color: red;">Please Filled Out Your Home Town</p></div>
      </div>
      <div class="u_home" *ngIf="u_fill_home">
        <input type="text" [(ngModel)]="home_town" name="home_town" id="home_town" value="" placeholder="Add your home town">
        <button type="button" name="button" (click)="u_cancel()">Cancel</button>
        <button (keyup.enter)="editHome(home_town)" type="button" name="button" (click)="editHome(home_town)">Save</button>
      </div>
    </div>
  </div>
</div>
