<div class="overview-main">
  <div class="place_tab">
    <h6>Place lived</h6>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-1">
      <img width="40" height="40" src='assets/images/safe_image.jpeg' style="border-radius: 50%;" />
    </div>
    <div class="col-md-5" style="font-size: 14px">
      <span style="font-weight: 500;">{{u_city}}, {{u_state}}</span>
      <div>Current City</div>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="col-md-1">
      <img width="40" height="40" src='assets/images/safe_image.jpeg' style="border-radius: 50%;" />
    </div>
    <div class="col-md-5" style="font-size: 14px">
      <span style="font-weight: 500;">{{u_city}}, {{u_state}}</span>
      <div>Home Town</div>
    </div>
  </div>
</div>
