
@media (max-width: 767px){
    .about_container {
        flex-direction: column !important;
    }
    ul.nav.nav-pills {
        flex-direction: row !important;
        justify-content: end;
    }
}