<div class="about_sec">
	<div class="about_container d-flex flex-row align-items-baseline">
		<div class="about_action_tabs">
      <h5 class="title-about">About</h5>
			<ul class="nav nav-pills flex-column">
				<li [routerLinkActive]="['active']" [routerLink]="['overview']">
          <a class="about-menu">Overview</a>
        </li>
				<li [routerLinkActive]="['active']" [routerLink]="['work_and_education']">
          <a class="about-menu">Work & Education</a>
        </li>
				<li [routerLinkActive]="['active']" [routerLink]="['place']">
          <a class="about-menu">Placed Lived</a>
        </li>
				<li [routerLinkActive]="['active']" [routerLink]="['contact_and_basic_info']">
          <a class="about-menu">Contact and Basic Info</a>
        </li>
				<li [routerLinkActive]="['active']" [routerLink]="['family_and_relationships']">
          <a class="about-menu">Family and Relationships</a>
        </li>
				<li [routerLinkActive]="['active']" [routerLink]="['about_details']">
          <a class="about-menu">Details About You </a>
        </li>
				<li [routerLinkActive]="['active']" [routerLink]="['life_event']">
          <a class="about-menu">Life Events</a>
        </li>
			</ul>
		</div>
		<div class="about_description tab-content">
      <router-outlet></router-outlet>
		</div>
	</div>
</div>
