<h2 mat-dialog-title>Edit Details</h2>
<mat-dialog-content>
  <form class="edit_formGroup" [formGroup]="profileForm" (ngSubmit)="updateProfile()" style="display: contents;">
    <input id="designation" autocomplete="off" formControlName="designation" class="form-control text-spaces"
      type="text" placeholder="Enter Designation" value="{{data.postition}}">

    <input id="country" autocomplete="off" formControlName="country" class="form-control text-spaces" type="text"
      placeholder="Enter Country" value="{{countryList}}">

    <input id="state" autocomplete="off" formControlName="state" class="form-control text-spaces" type="text"
      placeholder="Enter State" value="{{stateList}}">

    <input id="city" autocomplete="off" formControlName="city" class="form-control text-spaces" type="text"
      placeholder="Enter City" value="{{cities}}">

    <input id="hobbies" autocomplete="off" formControlName="hobbies" class="form-control text-spaces" type="text"
      placeholder="Enter Hobbies" value="{{data.hobbies}}">

    <button class="btn save_btn" style="margin-right: 10px;" (click)="save()">Save</button>
  </form>
  <button class="btn cancel_btn" (click)="close()">Cancel</button>
</mat-dialog-content>