<h2 mat-dialog-title>Edit Details</h2>
<mat-dialog-content>
  <form [formGroup]="profileForm" (ngSubmit)="updateProfile()" style="display: contents;">
    <input id="designation" formControlName="designation" class="form-control text-spaces" type="text" placeholder="Enter Designation" value="{{data.postition}}">

      <input id="country" formControlName="country" class="form-control text-spaces" type="text" placeholder="Enter Country" value="{{countryList}}">

    <!-- <select (change)="changeCountry($event.target.value)" class="form-control text-spaces" formControlName="country">
      <option value="">Select Country</option>
      <option *ngFor ="let count of countryList" value={{count.name}}>{{count.name}} </option>
    </select> -->

      <input id="state" formControlName="state" class="form-control text-spaces" type="text" placeholder="Enter State" value="{{stateList}}">

    <!-- <select (change)="changeState($event.target.value)" class="form-control text-spaces" formControlName="state">
      <option *ngIf=data.state selected disabled>{{data.state}} </option>
      <option *ngIf="data.state !== '' && stateList" disabled>____________</option>
      <option *ngIf="stateList || data.state == undefined || data.state == ''" value="">Select Province</option>
      <option *ngFor ="let state of stateList" value={{state.states}}>{{state.states}} </option>
    </select> -->

      <input id="city" formControlName="city" class="form-control text-spaces" type="text" placeholder="Enter City" value="{{cities}}">

    <!-- <select class="form-control text-spaces" formControlName="city">
      <option *ngIf=data.city selected disabled>{{data.city}} </option>
      <option *ngIf="data.city !== '' && cities" disabled>____________</option>
      <option *ngIf="cities || data.city == undefined || data.city == ''" value="">Select City</option>
      <option *ngFor ="let city of cities" value={{city}}>{{city}} </option>
    </select> -->

    <input id="hobbies" formControlName="hobbies" class="form-control text-spaces" type="text" placeholder="Enter Hobbies" value="{{data.hobbies}}">

    <button class="btn btn-primary" style="margin-right: 10px;" (click)="save()">Save</button>
  </form>
  <button class="btn btn-secondary" (click)="close()">Cancel</button>
</mat-dialog-content>
