<div class="overview-main">
  <div class="work_tab">
    <h6>Life events</h6>
  </div>
  <div style="margin-bottom: 10px;" (click)="newLifeEvent()" *ngIf="life_show">
    <i class="fa fa-plus-circle"></i> &nbsp;<a [routerLink]="">Add life event</a>
  </div>
  <div class="no_mention" *ngIf="not_mention_life"><i class="fas fa-star-of-life"> </i>&nbsp; {{not_mention_life}} </div>
  <div class="work" *ngIf="fill_life" style="display: flex;">
    <textarea class="text-area" (keyup.enter)="save_add_life(life)" type="text" [(ngModel)]="life" name="" value="" placeholder="Add life event" required></textarea>
    <button type="button" name="button" (click)="save_add_life(life)">Save</button>
    <button type="button" name="button" (click)="Life_Cancel()">Cancel</button>
  </div>
  <div class="u_mobile" *ngIf="u_fill_life" style="display: flex;">
    <textarea class="text-area" (keyup.enter)="editLife(life)" type="text" [(ngModel)]="life" name="" value="" placeholder="Add life event"></textarea>
    <button type="button" name="button" (click)="editLife(life)">Save</button>
    <button type="button" name="button" (click)="l_cancel()">Cancel</button>
  </div>
  <div *ngIf="show_life" class="update-list">
    <div *ngFor="let life_data of get_life.slice().reverse()" class="work-record">
      <div class="update-display" >
        <img src="../../assets/images/event.png" alt="life events"> 
        <div class="life_event_shows">
          {{life_data.name}}
        </div>
      </div>
      <div class="icons-pencil" *ngIf="icons">
        <i (click)="updateLife(life_data._id, life_data.name)" class="pencil-icon fa fa-pencil"></i>
        <i (click)="delLife(life_data._id)" class="pencil-icon fa fa-trash"></i>
      </div>
    </div>
  </div>
</div>
