<div class="say_words position-relative timeline" style="padding-bottom: 10px !important;">
  <input #textmsgPost type="text" placeholder=" Say something!" (click)="openTextDialog($event)" *ngIf="current_user_profile">
  <input #textmsgPost type="text" placeholder=" Say something to {{u_name}}!" (click)="openTextDialog($event)" *ngIf="!current_user_profile">
  <div class="slider_bid_like-share d-flex flex-column">
    <input type="file" style="display:none" #file class="btn btn-primary" (change)="openDialog($event)" multiple="" />
    <div class="take_action post_take_action" (click)="file.click();" title="Photos/Videos">
      <button class="like_sec" style="display: contents;">
        <i class="fa fa-camera"></i>
        <div>Photos/Videos</div>
      </button>
    </div>
  </div>
</div>
<ng-container *ngIf="notfound !== 404">
<div *ngFor="let data of datas | slice:0:totalDisplayed; let i = index" class="main_post_content d-flex flex-column timeline" >
<!-- <div *ngFor="let data of datas; let i = index" class="main_post_content d-flex flex-column timeline" > -->
  <div class="d-flex show_basic_info" style="width: 100%" >
    <div class="profile_pic_profile position-relative">
      <img [src]="profileImg" onerror="this.src='/assets/images/default_user.jpg';">
    </div>
    <div class="name_and_desc" style="width: 100%" >
      <div class="d-flex justify-content-between align-items-center">
        <a href="profile/{{data.userId}}"><div class="profile_name_of_poster">{{u_name}}</div></a>
        <div class="province d-flex align-items-center">
          <img src="assets/images/add_ob.png">
          <div *ngIf="u_city !== null && u_state !== null">{{u_city}} {{u_state}}</div>
          <div *ngIf="u_city === undefined && u_state === undefined">Not Mention</div>
        </div>
      </div>
      <div style="color: #0F1B31;font-size: 14px;" *ngIf="data.name !== undefined">Album: {{data.name}} </div>
      <div class="item_desc mt-2" style="width: 100%;word-wrap: break-word;">{{data.description}}</div>
    </div>
  </div>
  <div class="slider_bid_like-share d-flex flex-column" style="width: 100%">
    <div class="one_image" *ngIf="data.imageUrl.length == 1">
      <ng-image-slider [imageSize]="{width: '100%', height: '320px'}" [showArrow]=false class="slider_image" [images]="data.imageUrl" #nav></ng-image-slider>
    </div>
    <div *ngIf="data.imageUrl.length == 2">
      <div class="item" >
        <ng-image-slider [animationSpeed]="0.3" [autoSlide]=0 [imageSize]="{width: '49%'}" [showArrow]=false class="slider_image" [images]="data.imageUrl" #nav></ng-image-slider>
      </div>
    </div>
    <div *ngIf="data.imageUrl.length == 3">
      <div class="item" *ngIf="data.imageUrl[0].size == 100">
        <ng-image-slider [animationSpeed]="0.3" [autoSlide]=0 [imageSize]="{width: '99%'}" [showArrow]=false class="slider_image" [images]="data.imageUrl" #nav></ng-image-slider>
        <ng-image-slider [animationSpeed]="0.3" [autoSlide]=0 [imageSize]="{width: '49%', height: 200}" [showArrow]=false class="slider_image_2" [images]="data.imageUrl" #nav></ng-image-slider>
      </div>
    </div>
    <div *ngIf="data.imageUrl.length == 4">
      <div class="item">
        <ng-image-slider [animationSpeed]="0.3" [autoSlide]=0 [imageSize]="{width: '49%'}" [showArrow]=false class="slider_image" [images]="data.imageUrl" #nav></ng-image-slider>
        <ng-image-slider [animationSpeed]="0.3" [autoSlide]=0 [imageSize]="{width: '49%'}" [showArrow]=false class="slider_image_4" [images]="data.imageUrl" #nav></ng-image-slider>
      </div>
    </div>
    <div *ngIf="data.imageUrl.length > 4">
      <div class="item">
        <ng-image-slider [animationSpeed]="0.3" [autoSlide]=0 [imageSize]="{width: '49%'}" [showArrow]=false class="slider_image" [images]="data.imageUrl" #nav></ng-image-slider>
        <ng-image-slider [animationSpeed]="0.3" [autoSlide]=0 [imageSize]="{width: '49%'}" [showArrow]=false class="slider_image_5" [images]="data.imageUrl" title="more" #nav></ng-image-slider>
      </div>
    </div>
    <div [ngClass]="current_user_profile ? 'no_share_action' : 'take_action'">
      <button class="showLikes" (click)="likeIt(data._id, data.like.length);">
        <i class="fa" id="{{data._id}}" [ngClass]="postlikeId.includes(data._id) ? 'fa-thumbs-up': 'fa-thumbs-o-up'"></i>
        <div>Like<span id="count_{{data._id}}">{{data.like.length === 0 ? '' : data.like.length}}</span></div>
      </button>

      <!-- <div class="tooltiptext" *ngIf="data.like.length === 0 ? '' : data.like.length"> -->
      <div class="tooltiptext" *ngIf="data.like.length > 0">
        <div id="tooltiptexts" class="tooltiptexts" *ngFor="let like of data.like.reverse(); let i = index; trackBy: trackByFn" [attr.data-index]="i">
          <!-- {{like.name}} -->
          <span id="like_{{data._id}}_{{i}}" [innerText]="like.name"></span>
        </div>
      </div>

      <button class="comment_sec_{{data._id}} comment_sec" (click)="open_comments(data._id)">
        <i class="far fa-comment-dots"></i>
        <div *ngIf="data.comment.length !== 0">Comment<span>{{data.comment.length !== 0 ? (data._id === tempPostId) ? data.comment.length + temCmnt.length : data.comment.length : ''}}</span></div>
				<div *ngIf="data.comment.length === 0">Comment<span>{{data.comment.length === 0 ? (data._id === tempPostId) ? data.comment.length + temCmnt.length : '' :data.comment.length }}</span></div>
      </button>
      <button class="share_sec_{{data._id}} share_sec" (click)="share(data._id)" *ngIf="!current_user_profile">
        <i class="far fa-share"></i>
        <!-- <div *ngFor="let shar of data.share">
          <div *ngIf="shar.sharedUser === id">
          <p> {{data.userId}} </p>
          </div>
        </div> -->
        <div *ngIf="data.share.length !== 0">Share <span> {{data.share.length}} </span> </div>
        <div *ngIf="data.share.length === 0">Share</div>
      </button>
      <div class="sharing_container_{{data._id}} sharing_container" style="display: none;">
        <div class="share_users">
          <div class="user_profile" (click)="sharing(data._id, u_name)" style="cursor: pointer;">
            <p>Share with me!</p>
            <!-- <img [src]="friend.profileImgURl" onerror="this.src='/assets/images/default_user.jpg';" alt="profileImage" width="40px" height="40px"> -->
            <!-- <p>{{friend.name}}</p> -->
          </div>
          <!-- <div class="share_icon">
            <a class="share_sec" (click)="sharing(data._id, friend.name, data.post_user)" title="share with your friends">
              <i class="fa fa-share"></i>
            </a>	
          </div> -->
        </div>
      </div>
    </div>
    <div class="write_comments">
      <form (ngSubmit)="addComments(data._id, data.post_user, data.post_profileImg)" [formGroup]="commentsForm">
        <input type="text" placeholder=" Write a comment...!" formControlName="newcomment">
      </form>
    </div>
    <div class="comments_container_{{data._id}} comments_container" style="display: none;" *ngIf="data.comment.length > 0 || temCmnt.length > 0">
      <div class="comment_title">Comments:</div>
      <ng-container *ngIf="checkTem && tempPostId === data._id">
      <div (mouseleave)="!showbasicProfile3[i]=false" class="comment_user d-flex" *ngFor="let temp of temCmnt.slice().reverse()">
        <img [src]="profileImg" onerror="this.src='/assets/images/default_user.jpg';">
        <div>
          <a href="profile/{{temp.userId}}" (mouseover)="!showbasicProfile3[i]=true"></a><div class="commenter">{{u_name | titlecase}}</div>
          <div class="comment_here">{{temp}}</div>
        </div>
      </div>
      </ng-container>

      <div (mouseleave)="!showbasicProfile3[i]=false" class="comment_user d-flex" *ngFor="let comnt of data.comment.slice().reverse(); let i = index">
        <img [src]="comnt.profile" onerror="this.src='/assets/images/default_user.jpg';">
        <div>
          <a href="profile/{{comnt.userId}}" (mouseover)="!showbasicProfile3[i]=true"><div class="commenter">{{comnt.name | titlecase}}</div></a>
        <div class="comment_here">{{comnt.newcomment}}</div>
      </div>		
      <div class="show_basic_info_card" (mouseleave)="showbasicProfile3[i]=false">
        <div class="basic_info2" *ngIf="showbasicProfile3[i]">	
          <div class="d-flex">
            <img [src]="comnt.profile" onerror="this.src='/assets/images/default_user.jpg';" class="hover-info-img">
            <div class="basic_profile_icons">
              <a href="profile/{{comnt.userId}}"><div style="text-transform: capitalize;" class="profile_basic_info set_redirect_link">{{comnt.name}}</div></a>
              <div class="icons_showing_card">
              <div class="profile_basic_info"><i class="fas fa-user-tie" style="padding-right: 10px"></i>{{comnt.designation}}</div>
              <div class="profile_basic_info"><i class="fas fa-envelope" style="margin-right: 10px"></i>{{comnt.email}}</div>
            </div>	
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="loads_btn">
  <!-- <button *ngIf="show_load_more" class="load_btn" (click)="loadMore()">Load more</button> -->
  <div *ngIf="show_load_more" class="load_btn" (click)="loadMore()">
    <img class="load_more" src="../../assets/images/down-arrow.png" width="50px" height="50px" alt="load more" title="load more">
  </div>
</div>
</ng-container>
<ng-container *ngIf="notfound == 404">
  <div class="main_post_content d-flex flex-column">
    <h6>Not Any Posts Found</h6>
  </div>
</ng-container>
