<div class="say_words position-relative">
  <input type="text" placeholder=" Wanna Say something to Lynda?!">
  <button>Post</button>
</div>
<div class="main_post_content d-flex flex-column">
  <div class="d-flex">
    <div class="profile_pic_profile position-relative">
      <img src="assets/images/user3.jpg">
    </div>
    <div class="name_and_desc">
      <div class="d-flex justify-content-between align-items-center">
        <div class="profile_name_of_poster">Lynda Wexler</div>
        <div class="province d-flex align-items-center">
          <img src="assets/images/add_ob.png">
          <div>Pulshar, MB</div>
        </div>
      </div>
      <div class="item_desc mt-3">Hi there, I want to sell my mobile Lorem ipsum dolor sit amet, consectetur adipiscing elit. Utafaf aliquet non mi eget facilisis. Donec facilisis purus eu urna sollicitudin, sed mollis felis ultrices. Nulla sagittis sodales dui ut ornare. Donec feugiat at lacus et tempor. Vivamus eros odio, convallis ut orci et, feugiat ultrices elit. Aenean suscipit tellus accumsan, gravida risus sed, sagittis velit.</div>
    </div>
  </div>
  <div class="slider_bid_like-share d-flex flex-column">
    <div class="owl-carousel owl-theme">
      <div class="item">
        <img class="slider_image" src="assets/images/gal_2.jpg">
      </div>
      <div class="item">
        <img class="slider_image" src="assets/images/gal_3.jpg">
      </div>
      <div class="item">
        <img class="slider_image" src="assets/images/gal_4.jpg">
      </div>
    </div>
    <div class="cat_bid d-flex justify-content-between align-items-center mt-3">
      <div class="category">Electronics</div>
      <div class="bid_current d-flex align-items-center">
        <div class="current_bid">Current bid @</div>
        <div>310$</div>
      </div>
    </div>
    <div class="bid_section d-flex justify-content-between align-items-center mt-3">
      <div class="d-flex align-items-center">
        <div class="starting_bid mt-0">Asking Price @</div>
        <div class="main-price">300$</div>
      </div>
      <div class="bid_now">
        <button>BID NOW</button>
      </div>
    </div>
    <div class="take_action">
      <button class="like_sec">
        <i class="far fa-thumbs-up"></i>
        <div>Like <span>1.4k</span></div>
      </button>
      <button id="hide show" class="comment_sec">
        <i class="far fa-comment-dots"></i>
        <div>Comment<span>96</span></div>
      </button>
      <button class="share_sec">
        <i class="far fa-share"></i>
        <div>Share<span>7</span></div>
      </button>
    </div>
    <div class="comments_container" style="display: none;">
      <div class="comment_title">Comments:</div>
      <div class="comment_user d-flex ">
        <img src="assets/images/profile.jpg">
        <div>
          <div class="commenter">Arturo flex</div>
          <div class="comment_here">Nulla sagittis sodales dui ut ornare. Donec feugiat at lacus et tempor. Vivamus eros odio, convallis ut orci et, feugiat ultrices elit. Aenean suscipit tellus accumsan, gravida risus sed,</div>
        </div>
      </div>
      <div class="comment_user d-flex ">
        <img src="assets/images/user2.jpg">
        <div>
          <div class="commenter">Mellisa mcmahon</div>
          <div class="comment_here">Nulla sagittis sodales dui ut ornare. Donec feugiat at lacus et tempor. Vivamus eros odio, convallis ut orci et, feugiat ultrices elit. Aenean suscipit tellus accumsan, gravida risus sed,</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main_post_content d-flex flex-column">
  <div class="d-flex">
    <div class="profile_pic_profile position-relative">
      <img src="assets/images/user3.jpg">
    </div>
    <div class="name_and_desc">
      <div class="d-flex justify-content-between align-items-center">
        <div class="profile_name_of_poster">Lynda Wexler</div>
        <div class="province d-flex align-items-center">
          <img src="assets/images/add_ob.png">
          <div>Pulshar, MB</div>
        </div>
      </div>
      <div class="item_desc mt-3">Hi there, I want to sell my mobile Lorem ipsum dolor sit amet, consectetur adipiscing elit. Utafaf aliquet non mi eget facilisis. Donec facilisis purus eu urna sollicitudin, sed mollis felis ultrices. Nulla sagittis sodales dui ut ornare. Donec feugiat at lacus et tempor. Vivamus eros odio, convallis ut orci et, feugiat ultrices elit. Aenean suscipit tellus accumsan, gravida risus sed, sagittis velit.</div>
    </div>
  </div>
  <div class="slider_bid_like-share d-flex flex-column">
    <div class="owl-carousel owl-theme">
      <div class="item">
        <img class="slider_image" src="assets/images/gal_4.jpg">
      </div>
      <div class="item">
        <img class="slider_image" src="assets/images/gal_2.jpg">
      </div>
      <div class="item">
        <img class="slider_image" src="assets/images/gal_3.jpg">
      </div>
    </div>
    <div class="cat_bid d-flex justify-content-between align-items-center mt-3">
      <div class="category">Electronics</div>
      <div class="bid_current d-flex align-items-center">
        <div class="current_bid">Current bid @</div>
        <div>310$</div>
      </div>
    </div>
    <div class="bid_section d-flex justify-content-between align-items-center mt-3">
      <div class="d-flex align-items-center">
        <div class="starting_bid mt-0">Asking Price @</div>
        <div class="main-price">300$</div>
      </div>
      <div class="bid_now">
        <button>BID NOW</button>
      </div>
    </div>
    <div class="take_action">
      <button class="like_sec">
        <i class="far fa-thumbs-up"></i>
        <div>Like <span>1.4k</span></div>
      </button>
      <button id="hide show" class="comment_sec">
        <i class="far fa-comment-dots"></i>
        <div>Comment<span>96</span></div>
      </button>
      <button class="share_sec">
        <i class="far fa-share"></i>
        <div>Share<span>7</span></div>
      </button>
    </div>
    <div class="comments_container" style="display: none;">
      <div class="comment_title">Comments:</div>
      <div class="comment_user d-flex ">
        <img src="assets/images/profile.jpg">
        <div>
          <div class="commenter">Arturo flex</div>
          <div class="comment_here">Nulla sagittis sodales dui ut ornare. Donec feugiat at lacus et tempor. Vivamus eros odio, convallis ut orci et, feugiat ultrices elit. Aenean suscipit tellus accumsan, gravida risus sed,</div>
        </div>
      </div>
      <div class="comment_user d-flex ">
        <img src="assets/images/user2.jpg">
        <div>
          <div class="commenter">Mellisa mcmahon</div>
          <div class="comment_here">Nulla sagittis sodales dui ut ornare. Donec feugiat at lacus et tempor. Vivamus eros odio, convallis ut orci et, feugiat ultrices elit. Aenean suscipit tellus accumsan, gravida risus sed,</div>
        </div>
      </div>
    </div>
  </div>
</div>
