<div class="say_words position-relative" style="padding-bottom: 10px !important;">
  <input #textmsgPost type="text" placeholder=" Say something!" (click)="openTextDialog()" *ngIf="current_user_profile">
  <input #textmsgPost type="text" placeholder=" Say something to {{u_name}}!" (click)="openTextDialog()" *ngIf="!current_user_profile">
  <!-- <button type="button" (click)="textPost()">Post</button> -->
  <div class="slider_bid_like-share d-flex flex-column">
    <input type="file" style="display:none" #file class="btn btn-primary" (change)="openDialog($event)" multiple="" />
    <div class="take_action post_take_action" (click)="file.click();" title="Photos/Videos">
      <button class="like_sec" style="display: contents;">
        <i class="fa fa-camera"></i>
        <div>Photos/Videos</div>
      </button>
    </div>
  </div>
</div>
<ng-container *ngIf="notfound !== 404">
<div *ngFor="let data of datas; let i = index" class="main_post_content d-flex flex-column">
  <div class="d-flex" style="width: 100%">
    <div class="profile_pic_profile position-relative" (mouseover)="showbasicProfile[i]=true">
      <img [src]="profileImg" onerror="this.src='/assets/images/default_user.jpg';">

      <div class="basic_info" *ngIf="showbasicProfile[i]" (mouseleave)="showbasicProfile[i]=false">
        <div class="d-flex">
          <img [src]="profileImg" onerror="this.src='/assets/images/default_user.jpg';">
          <div style="padding: 10px;">
            <div class="profile_basic_info">{{u_name}}</div>
            <div class="profile_basic_info">{{u_designation}}</div>
            <div class="profile_basic_info">{{u_email}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="name_and_desc" style="width: 100%">
      <div class="d-flex justify-content-between align-items-center">
        <div class="profile_name_of_poster">{{u_name}}</div>
        <div class="province d-flex align-items-center">
          <img src="assets/images/add_ob.png">
          <div>Pulshar, MB</div>
        </div>
      </div>
      <div class="item_desc mt-3" style="width: 100%">{{data.description}}</div>
    </div>
  </div>
  <div class="slider_bid_like-share d-flex flex-column" style="width: 100%">
    <div class="owl-carousel owl-theme" id="owl-demo" *ngIf="data.imageUrl.length > 0">
      <!-- {{data.imageUrl}} -->
      <!-- {{data.imageUrl.split('.')}} -->
      <div class="item" *ngFor="let imageurl of data.imageUrl">

        <!-- <img class="slider_image" [src]="data.imageUrl" [attr.data-slide-to]="i"> -->
        <!-- {{imageurl.split('.')}} -->
        <!-- {{imageurl.split('.')[1]}} -->
        <img class="slider_image" [src]="imageurl" [attr.data-slide-to]="i" *ngIf="imageurl.split('.').pop() !== 'mp4'">
        <!-- <button class="playpause">play</button> -->
        <video controls class="slider_video" *ngIf="imageurl.split('.').pop() == 'mp4'" disablePictureInPicture controlsList="nodownload">
          <source [src]="imageurl" type="video/mp4">
          <!-- <source [src]="imageurl" type="video/ogg"> -->
        </video>

        <!-- <iframe type="text/html" frameborder="0" allowfullscreen src="{{imageurl}}">
        </iframe> -->
        <!-- <iframe type="text/html"
                src="https://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1" frameborder="0" allowfullscreen>
        </iframe> -->
        <!-- <div class="owl-video" href="{{imageUrl}}"> -->
        <!-- <a class="owl-video slider_image" href="{{imageurl}}" [attr.data-slide-to]="i"></a> -->
        <!-- <a class="owl-video slider_image" href="https://www.youtube.com/watch?v=Rpzp0yCAmq4"></a> -->
        <!-- <div class="item-video" data-merge="1"><a class="owl-video" href="https://www.youtube.com/watch?v=Rpzp0yCAmq4"></a></div> -->
        <!-- {{imageurl}} -->
        <!-- {{data.imageUrl}} -->
        <!-- <div class="item-video" data-merge="1" *ngFor="let imageurl of data.imageUrl"><a class="owl-video" href="{{data.imageUrl}}"></a></div> -->
        <!-- <div class="item-video" data-merge="1" *ngFor="let imageurl of data.imageUrl"><a class="owl-video" href="{{data.imageUrl}}"></a></div> -->
      </div>
    </div>

    <div [ngClass]="current_user_profile ? 'no_share_action' : 'take_action'">
      <button class="showLikes" (click)="likeIt(data._id, data.like.length);">
        <i class="fa" id="{{data._id}}" [ngClass]="postlikeId.includes(data._id) ? 'fa-thumbs-up': 'fa-thumbs-o-up'"></i>
        <!-- <div>Like <span>{{data.like.length === 0 ? '' : data.like.length}}</span></div> -->
        <!-- <div>Like<span>{{data.like.length === 0 ? '' : checkTem == false ? data.like.length : temLike > 1 ? temLike - 1: temLike === 0 ? '' : temLike}}</span></div> -->
        <div>Like<span id="count_{{data._id}}">{{data.like.length === 0 ? '' : data.like.length}}</span></div>
      </button>

      <div class="tooltiptext" *ngIf="data.like.length > 0">
        <div *ngFor="let like of data.like">
          {{like.name}}
        </div>
      </div>

      <button class="comment_sec_{{data._id}} comment_sec" (click)="open_comments(data._id)">
        <i class="far fa-comment-dots"></i>
        <!-- <div>Comment<span>{{data.comment.length === 0 ? '' : checkTem ? data.comment.length + temCmnt.length : data.comment.length}}</span></div> -->
        <div>Comment<span>{{data.comment.length !== 0 ? checkTem ? data.comment.length + temCmnt.length : data.comment.length : temCmnt.length === 0 ? '' : temCmnt.length}}</span></div>
      </button>
      <button class="share_sec" *ngIf="!current_user_profile">
        <i class="far fa-share"></i>
        <div>Share<span>7</span></div>
      </button>
    </div>
    <div class="write_comments">
      <form (ngSubmit)="addComments(data._id, data.post_user, data.post_profileImg)" [formGroup]="commentsForm">
        <input type="text" placeholder=" Write a comment...!" formControlName="newcomment">
      </form>
    </div>
    <div class="comments_container_{{data._id}} comments_container" style="display: none;" *ngIf="data.comment.length > 0">
      <div class="comment_title">Comments:</div>
      <ng-container *ngIf="checkTem && tempPostId === data._id">
      <div class="comment_user d-flex" *ngFor="let temp of temCmnt.slice().reverse()">
        <!-- <img src="assets/images/profile.jpg"> -->
        <img [src]="profileImg" onerror="this.src='/assets/images/default_user.jpg';">
        <div>
          <div class="commenter">{{u_name}}</div>
          <div class="comment_here">{{temp}}</div>
        </div>
      </div>
      </ng-container>

      <div class="comment_user d-flex" *ngFor="let comnt of data.comment.slice().reverse();">
        <!-- <img src="assets/images/profile.jpg"> -->
        <img [src]="data.post_profileImg" onerror="this.src='/assets/images/default_user.jpg';">
        <div>
          <div class="commenter">{{data.post_user}}</div>
          <div class="comment_here">{{comnt.newcomment}}</div>
        </div>
      </div>
      <!-- <div class="comment_user d-flex ">
        <img src="assets/images/user2.jpg">
        <div>
          <div class="commenter">Mellisa mcmahon</div>
          <div class="comment_here">Nulla sagittis sodales dui ut ornare. Donec feugiat at lacus et tempor. Vivamus eros odio, convallis ut orci et, feugiat ultrices elit. Aenean suscipit tellus accumsan, gravida risus sed,</div>
        </div>
      </div> -->
    </div>
  </div>
</div>
</ng-container>
<ng-container *ngIf="notfound == 404">
  <div class="main_post_content d-flex flex-column" style="color: #003459">
    <h6>Not Any Posts Found</h6>
  </div>
</ng-container>
