<div style="border-bottom: 1px solid #000000;align-items: center;">
  <button class="close" mat-button (click)="Close()">x</button>
  <h2 style="font-size: 1.25rem;text-align: center;padding: 10px;">Create Post</h2>
</div>
<div style="padding: 20px 0px 20px 20px;">
  <div>
    <img width="40" height="40" [src]="smallProfile" onerror="this.src='/assets/images/default_user.jpg';" style="border-radius: 50%;" /> {{name}}
  </div>
  <br/>
  <div style="overflow-y: scroll; max-height: 60vh;">
    <div>
      <textarea #postMsg name="Text1" cols="40" rows="5" placeholder="What is going on in your gaming world today!" style="width: 100%; height: 100%; border: none; padding: 8px" required></textarea>
    </div>
    <!-- <div class="text-center col-md-12 load_new_image" style="margin-top: 50px;" *ngFor="let image of images; let i = index; last as isLast" id="load_new_image_id">{{ i + 1 }}{{ i }} -->
    <div class="text-center col-md-12 load_new_image" style="margin-top: 50px;" id="load_new_image_id">

      <!-- <img #postImage class="image_set_size" [src]="image" *ngIf="image.split(',')[0].split(':')[1].split(';')[0] == 'image/jpeg' || image.split(',')[0].split(':')[1].split(';')[0] == 'image/jpg' || image.split(',')[0].split(':')[1].split(';')[0] == 'image/png'"/> -->
      <!-- <img #postImage ng-style="twoimg ? (width: twowidth) : (width: '100%')" [src]="image" *ngFor="let image of images; let i = index;"/> -->
      <!-- <img #postImage class="change_width" style="width: {{(twoimg) ? twowidth : (threeimg && i === 4) ? firstwidth : twowidth}}; height: {{(twoimg) ? height : (threeimg) ? height : height}}" [src]="image" *ngFor="let image of images; let i = index;"/> -->
      <ng-container *ngIf="!twoimg && !threeimg && !fourimg && !fiveimg">
        <img #postImage class="change_width" style="width: 100%" [src]="image" *ngFor="let image of images; let i = index;"/>
        <!-- <video #postImage controls class="video_set_size" *ngFor="let image of images;">
          <source [src]="image" type="video/mp4">
        </video> -->
      </ng-container>
      <ng-container *ngIf="twoimg && !threeimg && !fiveimg && !fourimg">
        <img #postImage class="change_width" style="width: 50%; height: 400px;" [src]="image" *ngFor="let image of images; let i = index;"/>
        <!-- <video #postImage controls class="video_set_size" *ngFor="let image of images;">
          <source [src]="image" type="video/mp4">
        </video> -->
      </ng-container>
      <ng-container *ngIf="threeimg && !twoimg && !fiveimg && !fourimg">
        <img #postImage class="change_width" style="width: {{(isFirst) ? '100%' : '50%'}}; height: 400px;" [src]="image" *ngFor="let image of images; let i = index; first as isFirst"/>
        <!-- <video #postImage controls class="video_set_size" *ngFor="let image of images;">
          <source [src]="image" type="video/mp4">
        </video> -->
      </ng-container>
      <ng-container *ngIf="fourimg && !twoimg && !threeimg && !fiveimg">
        <img #postImage class="change_width" style="width: '50%'; height: 400px;" [src]="image" *ngFor="let image of images; let i = index;"/>
        <!-- <video #postImage controls class="video_set_size" *ngFor="let image of images;">
          <source [src]="image" type="video/mp4">
        </video> -->
      </ng-container>
      <ng-container *ngIf="fiveimg && !fourimg && !twoimg && !threeimg">
        <img #postImage class="{{(i + 1 > 4) ? 'hidden_last_img' : 'change_width'}}" style="width: 50%; height: 400px;" [src]="image" *ngFor="let image of images; let i = index; last as isLast"/>
        <div class="bottom-left set_view_more">View More</div>
        <!-- <video #postImage controls class="video_set_size" *ngFor="let image of images;">
          <source [src]="image" type="video/mp4">
        </video> -->
      </ng-container>

      <!-- <video #postImage controls class="video_set_size" *ngIf="image.split(',')[0].split(':')[1].split(';')[0] == 'video/mp4'"> -->
      <!-- <video #postImage controls class="video_set_size" *ngFor="let image of images;"> -->
        <!-- <ng-container *ngIf="image.split(',')[0].split(':')[1].split(';')[0] == 'video/mp4'"> -->
          <!-- <source [src]="image" type="video/mp4"> -->
        <!-- </ng-container> -->
      <!-- </video> -->
        <!-- <img #postImage [ngClass]="i == 0 ? 'image_set_size' : 'second_image_set_size'" [src]="image" src='/assets/images/default_user.jpg' *ngFor="let image of images; let i = index"/> -->
        <!-- <img #postImage [ngClass]="(i == 1) ? 'second_image_set_size' : 'image_set_size'" [src]="image" src='/assets/images/default_user.jpg' *ngFor="let image of images; let i = index"/> -->
    </div>
  </div>
  <br/>
  <input type="file" style="display:none" #file class="btn btn-primary" (change)="openNewDialog($event)" multiple="" />
  <div style="border: 1px solid #000000; border-radius: 6px; margin: 5px 20px 10px 0px; padding: 5px;" (click)="file.click();">
    <img src='/assets/images/photos.png' style="width: 5%; float: right;" class="create_post_photo_icon" />
    <h6>Upload Photos/Videos</h6>
  </div>
  <div style="margin-right: 20px;">
    <button type="button" class="btn btn-primary" style="width: 100%" (click)="postSave()">Post</button>
  </div>
</div>
