<div style="border-bottom: 1px solid #000000;align-items: center;">
  <button class="close" mat-button (click)="Close()">x</button>
  <h2 style="font-size: 1.25rem;text-align: center;padding: 10px;">Create Post</h2>
</div>
<div style="padding: 20px;">
  <div>
    <img width="40" height="40" [src]="smallProfile" onerror="this.src='/assets/images/default_user.jpg';" style="border-radius: 50%;" /> {{name}}
  </div>
  <br/>
  <div>
    <!-- <input #postMsg type="text" placeholder="Say something!" style="width: 100%; height: 100%; border: none;"> -->
    <textarea #postMsg name="Text1" cols="40" rows="5" placeholder="Say something!" style="width: 100%; height: 100%; border: none;" required></textarea>
  </div>
  <div class="text-center col-md-12" style="margin-top: 50px;" *ngIf="data.postImg">
    <img #postImage [src]="data.postImg" src='/assets/images/default_user.jpg' style="height: 290px; width: 100%;" />
    <!-- <img #postImage [src]="data.image" src='/assets/images/default_user.jpg' style="height: 290px; width: 100%;" /> -->
  </div>
  <br/>
  <div>
    <button type="button" class="btn btn-primary" style="width: 100%" (click)="postSave()">Post</button>
  </div>
</div>
