<div class="main_areas">
    <div class="contain">
        <div class="header">
            <p>Security and Login</p>
        </div>
        <div class="body">
            <div class="setting_details" >
                <div class="input_section">
                <p>User Id</p>
                <div class="name_show"> {{data.userId}} </div>
                </div>
            </div>
            <!-- <div class="setting_details_hide" >
                <div class="input_section">
                <p>Name</p>
                <input #nameText type="text" name="" >
                </div>
                <div style="display: flex;">
                <button type="button" name="button" >Save</button>
                <button type="button" name="button"  >Cancel</button>
            </div>
            </div> -->
            <div class="setting_details" >
                <div class="input_section">
                <p>Email</p>
                <div class="username_show"> {{user_data.emailId}} </div>
            </div>
                <button type="button" name="button" >Edit</button>
            </div>
            <!-- <div class="setting_details_hide" >
                <div class="input_section">
                <p>Username</p>
                <input #nameText type="text"  name="" >
                </div>
                <div style="display: flex;">
                <button type="button" name="button" >Save</button>
                <button type="button" name="button" >Cancel</button>
            </div>
            </div> -->
            <div class="setting_details">
                <div class="input_section">
                <p>Password</p>
                <div class="email_show">  </div>
                </div>
                <button type="button" name="button">Edit</button>
            </div>
        </div>
    </div>
</div>