<div app-theme class="main_areas">
    <div class="contain">
        <div class="header">
            <p>Security and Login</p>
        </div>
        <app-themes></app-themes>
        <div class="body">
            <div class="setting_details" >
                <div class="input_section">
                <p>User Id</p>
                <div class="name_show"> {{data.userId}} </div>
                </div>
            </div>
            <!-- <div class="setting_details_hide" >
                <div class="input_section">
                <p>Name</p>
                <input #nameText type="text" name="" >
                </div>
                <div style="display: flex;">
                <button type="button" name="button" >Save</button>
                <button type="button" name="button"  >Cancel</button>
            </div>
            </div> -->
            <div class="setting_details" >
                <div class="input_section">
                <p>Email</p>
                <div class="username_show"> {{user_data.emailId}} </div>
            </div>
                <button type="button" name="button" >Edit</button>
            </div>
            <!-- <div class="setting_details_hide" >
                <div class="input_section">
                <p>Username</p>
                <input #nameText type="text"  name="" >
                </div>
                <div style="display: flex;">
                <button type="button" name="button" >Save</button>
                <button type="button" name="button" >Cancel</button>
            </div>
            </div> -->
            <div class="setting_details pass">
                <div class="input_section">
                <p>Password</p>
                <!-- <div class="email_show">  </div> -->
                <input *ngIf="input_pass" type="password" name="pass" id="pass" [(ngModel)]="pass" placeholder="Please enter password">
                <div class="error_msgs">
                    <span style="color: red;" *ngIf="pass?.length < 10"> Password should be greater than 10 letters </span>
                    <span style="color: red;" *ngIf="!pass">Password is required</span>
                </div>
                </div>
                <button *ngIf="enter_pass" type="button" name="button" (click)="enterpass()"> Change</button>
                <div class="change_button" style="display: flex;" *ngIf="change_pass">
                    <button type="button" name="button" [disabled]="pass?.length > 10 || !pass" (click)="changePass(pass)">Change</button>
                    <button type="button" type="button" (click)="cancel_btn()">Cancel</button>
                </div>
            </div>
            <div class="setting_details">
                <!-- <app-reset></app-reset> -->
            </div>
        </div>
    </div>
</div>