<div class="overview-main">
  <div class="overview_tab">
    <i class="fas fa-briefcase"></i>
    <div>
      <span >works as <b>{{u_designation ? u_designation : 'not mention'}}</b></span>
      <!-- <ng-template #no_designation>Not mention work</ng-template> -->
    </div>
  </div>
  <div class="overview_tab">
		<i class="fas fa-home"></i>
    <div>
  		<div><span>lives in <b>{{u_city ? u_city : 'not mention'}}, {{u_state ? u_state : 'not mention'}}, {{u_country ? u_country : 'not mention'}}</b></span></div>
      <!-- <ng-template #no_country>Not mention location</ng-template> -->
    </div>
	</div>
  <div class="overview_tab">
		<i class="fas fa-phone"></i>
    <div>
  		<div><span>Phone Number <b>{{u_number ? u_number : 'not mention'}}</b></span></div>
      <!-- <ng-template #no_number>Not mention number</ng-template> -->
    </div>
  </div>
  <div class="overview_tab">
		<i class="fas fa-envelope"></i>
    <div>
  		<div><span>Email Address <b>{{u_address ? u_address : 'not mention'}}</b></span></div>
      <!-- <ng-template #no_address>Not mention email address</ng-template> -->
    </div>
  </div>
  <div class="overview_tab">
		<i class="fas fa-link"></i>
    <div>
  		<div><span>Website <b>{{u_website ? u_website : 'not mention'}}</b></span></div>
      <!-- <ng-template #no_website>Not mention website</ng-template> -->
    </div>
  </div>
  <div class="overview_tab">
		<i class="fas fa-pray"></i>
    <div>
  		<div><span>Religious <b>{{u_religious ? u_religious : 'not mention'}}</b></span></div>
      <!-- <ng-template #no_religious>Not mention religious</ng-template> -->
    </div>
  </div>
  <div class="overview_tab">
    <img src="../../assets/images/love.png" alt="Relationship status">
    <div>
  		<div><span>Relationship Status <b>{{u_status ? u_status : 'not mention'}}</b></span></div>
      <!-- <ng-template #no_status>Not mention status</ng-template> -->
    </div>
  </div>
  <div class="overview_tab">
		<i class="fas fa-user"></i>
    <div>
  		<div><span>Gender <b>{{u_gender ? u_gender : 'not mention'}}</b></span></div>
      <!-- <ng-template #no_gender>Not mention gender</ng-template> -->
    </div>
  </div>
  <div class="overview_tab">
		<i class="fa fa-birthday-cake"></i>
    <div>
  		<div><span>BirthDate <b>{{u_birthdate ? (u_birthdate | date) : 'not mention'}}</b></span></div>
      <!-- <ng-template #no_birthdate>Not mention birthdate</ng-template> -->
    </div>
  </div>
</div>
