<div class="overview-main">
  <div class="overview_tab">
    <i class="fas fa-briefcase"></i>
    <div>
      <span >Works as <b>{{u_designation ? u_designation : 'not mention'}}</b></span>
    </div>
  </div>
  <div class="overview_tab">
		<i class="fas fa-home"></i>
    <div>
  		<div><span>Lives in <b>{{u_city ? u_city : 'not mention'}}, {{u_state ? u_state : 'not mention'}}, {{u_country ? u_country : 'not mention'}}</b></span></div>
    </div>
	</div>
  <div class="overview_tab">
		<i class="fas fa-phone"></i>
    <div>
  		<div><span>Phone Number <b>{{u_number ? u_number : 'not mention'}}</b></span></div>
    </div>
  </div>
  <div class="overview_tab">
		<i class="fas fa-envelope"></i>
    <div>
  		<div><span>Email Address <b>{{u_address ? u_address : 'not mention'}}</b></span></div>
    </div>
  </div>
  <div class="overview_tab">
		<i class="fas fa-link"></i>
    <div>
  		<div><span>Website <b>{{u_website ? u_website : 'not mention'}}</b></span></div>
    </div>
  </div>
  <div class="overview_tab">
		<i class="fas fa-pray"></i>
    <div>
  		<div><span>Religious <b>{{u_religious ? u_religious : 'not mention'}}</b></span></div>
    </div>
  </div>
  <div class="overview_tab">
    <img src="../../assets/images/love.png" alt="Relationship status">
    <div>
  		<div><span>Relationship Status <b>{{u_status ? u_status : 'not mention'}}</b></span></div>
    </div>
  </div>
  <div class="overview_tab">
		<i class="fas fa-user"></i>
    <div>
  		<div><span>Gender <b>{{u_gender ? u_gender : 'not mention'}}</b></span></div>
    </div>
  </div>
  <div class="overview_tab">
		<i class="fa fa-birthday-cake"></i>
    <div>
  		<div><span>BirthDate <b>{{u_birthdate ? (u_birthdate | date) : 'not mention'}}</b></span></div>
    </div>
  </div>
</div>
