<div class="overview-main">
  <div class="overview_tab">
    <i class="fas fa-briefcase"></i>
    <div>
      <span *ngIf="u_designation; else no_designation">works as <b>{{u_designation}}</b></span>
      <!-- <span *ngIf="f_designation; else no_designation">{{f_designation}}</span> -->
      <ng-template #no_designation>Not mention work</ng-template>
    </div>
  </div>
  <div class="overview_tab">
		<i class="fas fa-home"></i>
    <div>
  		<div *ngIf="u_country; else no_country"><span>lives in <b>{{u_city}}, {{u_state}}, {{u_country}}</b></span></div>
      <ng-template #no_country>Not mention location</ng-template>
    </div>
	</div>
  <div class="overview_tab">
		<i class="fas fa-phone"></i>
    <div>
  		<div *ngIf="u_number; else no_number"><span>Phone Number <b>{{u_number}}</b></span></div>
      <ng-template #no_number>Not mention number</ng-template>
    </div>
  </div>
  <div class="overview_tab">
		<i class="fas fa-envelope"></i>
    <div>
  		<div *ngIf="u_address; else no_address"><span>Email Address <b>{{u_address}}</b></span></div>
      <ng-template #no_address>Not mention email address</ng-template>
    </div>
  </div>
  <div class="overview_tab">
		<i class="fas fa-link"></i>
    <div>
  		<div *ngIf="u_website; else no_website"><span>Website <b>{{u_website}}</b></span></div>
      <ng-template #no_website>Not mention website</ng-template>
    </div>
  </div>
  <div class="overview_tab">
		<i class="fas fa-pray"></i>
    <div>
  		<div *ngIf="u_religious; else no_religious"><span>Religious <b>{{u_religious}}</b></span></div>
      <ng-template #no_religious>Not mention religious</ng-template>
    </div>
  </div>
  <div class="overview_tab">
		<i class="fas fa-handshake-o"></i>
    <div>
  		<div *ngIf="u_status; else no_status"><span>Relationship Status <b>{{u_status}}</b></span></div>
      <ng-template #no_status>Not mention status</ng-template>
    </div>
  </div>
  <div class="overview_tab">
		<i class="fas fa-user"></i>
    <div>
  		<div *ngIf="u_gender; else no_gender"><span>Gender <b>{{u_gender}}</b></span></div>
      <ng-template #no_gender>Not mention gender</ng-template>
    </div>
  </div>
  <div class="overview_tab">
		<i class="fa fa-birthday-cake"></i>
    <div>
  		<div *ngIf="u_birthdate; else no_birthdate"><span>BirthDate <b>{{u_birthdate | date}}</b></span></div>
      <ng-template #no_birthdate>Not mention birthdate</ng-template>
    </div>
  </div>
</div>
