<div class="overview-main">
  <div class="work_tab">
    <h6>Relationship</h6>
  </div>
  <div class="relationShip" (click)="newStatus()" *ngIf="shows5">
    <i class="fa fa-plus-circle"></i> &nbsp;<a [routerLink]="">Add relationship status</a>
  </div>
  <div *ngIf="display5" class="relationship-update">
    <div class="relation-status">
      <img src="../../assets/images/love.png" alt="Relationship status">{{relationshipStatus}}
    </div>
    <div class="icons-pencil" *ngIf="icons">
      <i (click)="updateStatus(relationshipStatus)" class="pencil-icon fa fa-pencil"></i>
      <i (click)="deleteStatus(relationshipStatus)" class="pencil-icon fa fa-trash"></i>
    </div>
  </div>
  <div class="no_mention" *ngIf="not_mention_relationship"><i class="fas fa-handshake-o handshake-d "> </i>&nbsp;
    {{not_mention_relationship}} </div>
  <div class="mobile" *ngIf="status">
    <select name="relationship" [(ngModel)]="relationshipStatus" required>
      <option value="undefined" selected disabled>Select options</option>
      <option value="Single">Single</option>
      <option value="In a RelationShip">In a Relationship</option>
      <option value="Engaged">Engaged</option>
      <option value="Married">Married</option>
    </select>
    <button type="button" name="button" (click)="Cancel()">Cancel</button>
    <button type="button" name="button" (click)="addStatus(relationshipStatus)">Save</button>
  </div>
  <div class="u_relationship" *ngIf="u_status">
    <select name="relationship" [(ngModel)]="relationshipStatus">
      <option value="undefined" selected disabled>Select options</option>
      <option value="Single">Single</option>
      <option value="In a RelationShip">In a Relationship</option>
      <option value="Engaged">Engaged</option>
      <option value="Married">Married</option>
    </select>
    <button type="button" name="button" (click)="u_cancel()">Cancel</button>
    <button type="button" name="button" (click)="addStatus(relationshipStatus)">Save</button>
  </div>
  <div class="work_tab">
    <h6>Family Members</h6>
  </div>
  <div (click)="newFamily()" *ngIf="family_show">
    <i class="fa fa-plus-circle"></i> &nbsp;<a [routerLink]="">Add family member</a>
  </div>
  <div class="no_mention" *ngIf="not_mention_family"><i class="fas fa-child" style="margin-right: 10px;"> </i>&nbsp;
    {{not_mention_family}} </div>
  <div class="family" *ngIf="fill_family">
    <input type="text" [(ngModel)]="family" autocomplete="off" name="family" id="relationship" value=""
      placeholder="Add family member"><br>
    <select name="family" value="Family" [(ngModel)]="relation" required>
      <option value="undefined" selected disabled>Select options</option>
      <option value="Father">Father</option>
      <option value="Mother">Mother</option>
      <option value="Brother">Brother</option>
      <option value="Sister">Sister</option>
      <option value="Sister">Uncle</option>
      <option value="Sister">Aunt</option>
      <option value="Sister">Grand Father</option>
      <option value="Sister">Grand Mother</option>
      <option value="Sister">Daughter</option>
      <option value="Sister">Son</option>
    </select>
    <button type="button" name="button" (click)="F_Cancel()">Cancel</button>
    <button type="button" name="button" (click)="addFamily(family, relation)">Save</button>
  </div>
  <div class="u_relationship" *ngIf="u_fill_family">
    <input type="text" [(ngModel)]="family" autocomplete="off" name="family" id="family" value=""
      placeholder="Add family member"><br>
    <select name="relation" value="relation" [(ngModel)]="relation">
      <option value="undefined" selected disabled>Select options</option>
      <option value="Father">Father</option>
      <option value="Mother">Mother</option>
      <option value="Sister">Daughter</option>
      <option value="Sister">Son</option>
      <option value="Brother">Brother</option>
      <option value="Sister">Sister</option>
      <option value="Sister">Uncle</option>
      <option value="Sister">Aunt</option>
      <option value="Sister">Grand Father</option>
      <option value="Sister">Grand Mother</option>
    </select>
    <button type="button" name="button" (click)="f_cancel()">Cancel</button>
    <button type="button" name="button" (click)="editFamily(family, relation)">Save</button>
  </div>
  <div *ngIf="show_family" class="update-list2 family-list">
    <div *ngFor="let family_data of get_family.slice().reverse()" class="work-record">
      <div class="update-display" style="display: flex;flex-direction: row;">
        <img width="40" height="40" src="../../assets/images/character.png"
          onerror="this.src='/assets/images/character.png';" style="border-radius: 50%;" />
        <div class="family_shows">
          <div> {{family_data.name}} </div>
          <p>{{family_data.relationship}}</p>
        </div>
      </div>
      <div class="icons-pencil" *ngIf="icons">
        <i (click)="updateFamily(family_data._id, family_data.name, family_data.relationship)"
          class="pencil-icon fa fa-pencil"></i>
        <i (click)="delFamily(family_data._id)" class="pencil-icon fa fa-trash"></i>
      </div>
    </div>
  </div>

</div>