input{
  background-color: #f1f1f1;
    border: 0;
    /* padding: 5px 10px; */
    /* width: 100%; */
    border-radius: 4px;
    height: 40px;
    padding-right: 12.6%;
    color: #0F1B31;
    font-size: 14px;
    padding-left: 15px;
}
.hide_theme{
	display: none;
}

button{
  border: 1px solid #f0f8ff;
    background-color: #f0f8ff;
    /* height: 0px; */
    color: #fa9000;
    margin-left: 5px;
    height: 38px;
    padding: 0px 9px;
}

.relationship-update{
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px !important;
}

.pencil-icon{
  background: #efefef;
  padding: 5px;
  color: #ff9000;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 15px;
}

.relation-status {
  display: flex;
  align-items: center;
}

.relation-status p {
    margin-bottom: 0;
}

.handshake-d{
  margin-right: 10px;
}
.icons-pencil > i:not(:last-child) {
  margin-right: 10px;
}

.overview-main a {
  color: #ff9000;
  font-size: 14px;
}

select{
  border: 2px solid #ff9000;
}

.family_shows {
  margin-left: 15px;
}
.family_shows p {
  font-size: 12px;
  color: #5f5050;
}
.family_shows > div {
  font-size: 14px;
  font-weight: 500;
  color: #0F1B31;
}
.work-record{
  display: flex;
  justify-content: space-between;
}

.update-display{
  line-break: anywhere;
}
.relation-status img {
  width: 17px;
  margin-right: 10px;
  color: #0F1B31;
}