<div class="overview-main">
  <div class="work_tab">
    <h6>Relationship</h6>
  </div>
  <div class="relationShip" (click)="newStatus()" *ngIf="shows5">
    <i class="fa fa-plus-circle"></i> &nbsp;<a [routerLink]="">Add relationship status</a>
  </div>

  <div *ngIf="display5" class="relationship-update">
    <div class="relation-status">
      <i class="fas fa-handshake-o handshake-d"> </i>
      <p>{{relationshipStatus}}</p>
    </div>
    <div class="icons-pencil" *ngIf="icons">
      <i (click)="updateStatus(relationshipStatus)" class="pencil-icon fa fa-pencil"></i>
      <i (click)="deleteStatus(relationshipStatus)" class="pencil-icon fa fa-trash"></i>
    </div>
  </div>
  <div class="no_mention" *ngIf="not_mention_relationship"><i class="fas fa-handshake-o handshake-d "> </i>&nbsp; Not mention RelationShip</div>
  <div class="mobile" *ngIf="status">
    <input type="text" [(ngModel)]="relationshipStatus"  name="relationship" id="relationship" value="" placeholder="Add relationship status">
    <button type="button" name="button" (click)="Cancel()">Cancel</button>
    <button type="button" name="button" (click)="addStatus(relationshipStatus)">Save</button>
  </div>
  <div class="u_relationship" *ngIf="u_status">
    <input type="text" [(ngModel)]="relationshipStatus"  name="relationship" id="relationship" value="" placeholder="Add relationship status">
    <button type="button" name="button" (click)="u_cancel()">Cancel</button>
    <button type="button" name="button" (click)="addStatus(relationshipStatus)">Save</button>
  </div>
  <br/>
  <div class="work_tab">
    <h6>Family Members</h6>
  </div>
  <div (click)="newFamily()">
    <i class="fa fa-plus-circle"></i> &nbsp;<a [routerLink]="">Add family member</a>
  </div>
  
</div>
