input{
  background-color: #f1f1f1;
    border: 0;
    /* padding: 5px 10px; */
    /* width: 100%; */
    border-radius: 4px;
    height: 40px;
    padding-right: 12.6%;
    color: #003459;
    font-size: 14px;
    padding-left: 15px;
}

button{
  border: 1px solid #f0f8ff;
    background-color: #f0f8ff;
    /* height: 0px; */
    color: #fa9000;
    margin-left: 5px;
    height: 38px;
    padding: 0px 9px;
}

.relationship-update{
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px !important;
}

.pencil-icon{
  background: #efefef;
  padding: 5px;
  color: #ff9000;
  border-radius: 50%;
  cursor: pointer;
}

.relation-status {
  display: flex;
  align-items: center;
}

.relation-status p {
    margin-bottom: 0;
}

.handshake-d{
  margin-right: 10px;
}
.icons-pencil > i:not(:last-child) {
  margin-right: 10px;
}

.overview-main a {
  color: #ff9000;
  font-size: 14px;
}