<header class="d-flex justify-content-between align-items-center">
	<img class="logo" src="assets/images/logo.png">

		<div class="login_container ">
			<div>
				<label class="title">Email or Phone</label>
				<input type="text" placeholder="Email or Phone">
			</div>
			<div>
				<div>
					<label class="title">Password</label>
					<input type="password" placeholder="Password">
					<button>Log In</button>
				</div>
				<a class="forget-link" href="#" ng-click="forget()">Forget Password</a>
			</div>
		</div>

</header>

<div class="sign_up_sec">
	<div class="sign_up_conatiner">
		<div class="sign_up_title">Create an account</div>
		<div class="sign_up_subtitle">it's real quick and safe</div>
		<div class="form_of_sign_up d-flex flex-column">
			<input type="text" placeholder="Mobile Number or Email">
			<input type="text" placeholder="Full Name">
			<input type="text" placeholder="Username">
			<input type="text" placeholder="Password">
			<button>Sign up</button>
		</div>
		<div class="privacy_aggrement">By signing up, you agree to our Terms , Data Policy and Cookies Policy .</div>
	</div>
	<img class="connecting_image" src="assets/images/connecting_all.png">
</div>

<!-- script files -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="script.js"></script>

<router-outlet></router-outlet>
