<app-header></app-header>
<div class="main_container d-flex align-items-start">
	<div class="chat-panel">
        <div class="name_section">
            <div class="container darker">
                <img src="../../assets/images/character.png" alt="Avatar" >
                <p>Testing</p>
            </div>
        </div>
        <div class="message_section">
            <div class="container">
                <img src="../../assets/images/character.png" alt="Avatar">
                <p>Hello. How are you today?</p>
                <span class="time-right">11:00</span>
            </div>
              
            <div class="container darker">
                <img src="../../assets/images/character.png" alt="Avatar" class="right">
                <p>Hey! I'm fine. Thanks for asking!</p>
                <span class="time-left">11:01</span>
            </div>
              
            <div class="container">
                <img src="../../assets/images/character.png" alt="Avatar">
                <p>Sweet! So, what do you wanna do today?</p>
                <span class="time-right">11:02</span>
            </div>
              
            <div class="container darker">
                <img src="../../assets/images/character.png" alt="Avatar" class="right">
                <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
                <span class="time-left">11:05</span>
            </div>
        </div>
    </div>
</div>
