<app-header></app-header>

<div class="chat-messages">
    <div class="chat-messages-show-container">
        <ul class="chat-messages-show-list" id="message-list">
        </ul>
    </div>
    <div class="chat-messages-create-container">
        <i id="typing"></i>
        <!--<p id="typing" [innerHTML]="type"></p> -->
        <input id="message" class="chat-messages-create-input" [(ngModel)]="message" type="text" placeholder="Type your message here...">
        <button class="chat-messages-create-button" (click)="SendMessage()"> Send </button>
    </div>
</div>