<app-header></app-header>

<!-- <div class="chat-messages">
    <div class="chat-messages-show-container">
        <ul class="chat-messages-show-list" id="message-list">
        </ul>
    </div>
    <div class="chat-messages-create-container">
        <i id="typing"></i>
        <input id="message" class="chat-messages-create-input" [(ngModel)]="message" type="text" placeholder="Type your message here...">
        <button class="chat-messages-create-button" (click)="SendMessage()"> Send </button>
    </div>
</div> -->
<div class="sidenav left">
  <div class="friend_list">
    <h3>Friends</h3>
  </div>
  <div class="row" style="padding: 10px;border: 1px solid #fff;margin: 10px;" *ngFor="let data of frdDetails;let i = index">
    <div class="remove_people remove_people_{{data._id}}" (click)="openChat(data._id)">
      <div class="request_shows">
        <img [src]="data.profileImgURl" onerror="this.src='/assets/images/character.png';" style="border-radius: 50%;" />
        <div style="color: #fff">{{data.name}}</div>
        <div *ngIf="data.content == 1" style="color: green;">Online</div>
        <div *ngIf="data.content == 0" style="color: red;">Offline</div>
    </div>
    </div>
  </div>
</div>

<div class="viewProfile show_View" style="justify-content: center;display: flex;height:100%" *ngIf="showView">
  <div class="container" style="position: relative;">
    <div class="vertical-center" style="position: inherit;top: 50%;transform: translateY(-50%);text-align: center;">
      <div class="display_people_data">
        Select people's names to start chatting with them.
      </div>
    </div>
  </div>
</div>

<div class="viewProfile" style="padding-top: 101px;" *ngIf="!showView">
  <div class="chat-messages">
    <div class="chat-messages-show-container" #content>
        <ul class="chat-messages-show-list" id="message-list" >
          <li *ngFor="let chat of chat_messages" #messages style="background: white;padding: 5px 30px;margin: 10px;" [ngStyle]="{'text-align':chat.senderID === id ? 'right' : 'left' }"> 
            <span style="color: #ff9000;">{{chat.message}}</span>
            <div style="font-size: 12px;"> {{chat.createdAt | timeago}} </div>
          </li>
        </ul>
    </div>
    <div class="chat-messages-create-container">
        <i id="typing"></i>
        <input id="message" class="chat-messages-create-input" [(ngModel)]="message" type="text" (keyup.enter)="SendMessage()" placeholder="Type your message here...">
        <button class="chat-messages-create-button" (click)="SendMessage()"> Send </button>
    </div>
    </div>
</div>
