<header class="d-flex justify-content-between align-items-center">
  <img class="logo" src="assets/images/logo.png">
</header>

<div class="sign_up_sec">
	<div class="sign_up_conatiner">
		<div class="sign_up_title">Create an account</div>
		<div class="sign_up_subtitle">it's real quick and safe</div>
		<div class="form_of_sign_up d-flex flex-column">
			<input type="text" placeholder="Mobile Number or Email">
			<input type="text" placeholder="Full Name">
			<input type="text" placeholder="Username">
			<input type="text" placeholder="Password">
			<button>Sign up</button>
		</div>
		<div class="privacy_aggrement">By signing up, you agree to our Terms , Data Policy and Cookies Policy .</div>
	</div>
	<!-- <img class="connecting_image" src="assets/images/connecting_all.png"> -->
</div>
