@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
}
html{
  height: 100%;   
}

body{
	background-image: linear-gradient(180deg,rgba(27,31,37,0.3) 0%,#003459 100%),url(assets/images/share.jpg)!important;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
header{
	background-color: #003459;
	/* padding: 20px; */
  padding: .5rem 1rem .8rem 1rem;
}
.logo {
	width: 10%;
}

.login_container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.login_container input {
	padding: 5px 10px;
	border-radius: 4px;
	border: 0;
	font-size: 14px;
  margin-right: .8rem;
}

.login_container .title{
  display: block;
  width: 100%;
  text-align: left;
  font-size: 12px;
  color: #fff;
  margin-bottom: .2rem;
}

.login_container button {
	background: #FF9000;
	border: 0;
	padding: 5px 12px;
	border-radius: 4px;
	color: #ffffff;
	font-size: 14px;
}

.forget-link{
  font-size: 12px;
    color: #fff;
    text-decoration: underline;
    padding-top: 5px;
    margin: 0;
}

.forget-link:hover{
  color: #FF9000;
}

.sign_up_sec{
	max-width: 70vw;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}
.sign_up_conatiner {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 4px;
    width: 80%;
    margin: auto;
    background-image: linear-gradient(170deg,rgb(0, 52, 89) 5%,#ffffff00 100%)!important;
}
img.connecting_image {
    width: 100%;
    padding: 50px;
}
.sign_up_title {
    font-size: 28px;
    color: #ff9000;
    font-weight: 500;
}
.sign_up_subtitle {
    color: #ffffff;
}
.form_of_sign_up input {
    margin: 10px 0;
    padding: 8px;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #000000;
}
.form_of_sign_up {
    margin-top: 25px;
}
.form_of_sign_up button {
    border: 2px solid #ff9000;
    color: #003459;
    padding: 7px 0;
    background-color: #ff9000;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 15px;
}
.privacy_aggrement {
    margin-top: 30px;
    font-weight: 300;
    color: #b9b9b9;
    font-size: 13px;
}
.form_of_sign_up input, button {
    border-radius: 4px;
}

@media (max-width: 768px){
	.sign_up_conatiner {
	    width: 100%;
	}
}
@media (max-width: 576px){
	.logo {
	    width: 30%;
	}
	.sign_up_sec{
		display: block;
		max-width: 90vw;
	}
	.login_container {
	    margin-top: 20px;
	}
	header {
	    display: inline-block !important;
	}
	body {
	 height: auto;
 	}
}

.error { color: red; }

.btn-full {
	width: 100%;
}
