<app-header></app-header>

<div class="sidenav left">
  <div class="friend_list">
      <h3>Friends</h3>
  </div>
  <div class="receive_request" *ngIf="friend_req_hidden">
    {{frd_req_get_count}} friend requests
    <div class="row" style="padding: 10px;" *ngFor="let frdProfile of frd_profile_datas;let i = index">
      <div class="col-md-12" (click)="openProfile(frdProfile._id);">
        <img width="60" height="60" [src]="frdProfile.profileImgURl" onerror="this.src='/assets/images/default_user.jpg';" style="border-radius: 50%;" />
        <label style="color: #ffffff;margin-left: 10px;position: absolute;">{{frdProfile.name}}</label>
        <!-- <label style="color: #ffffff">{{frdProfile._id}}</label> -->
      </div>
      <div class="col-md-12" style="margin-left: 70px;bottom: 15px;">
        <button type="button" name="button" style="background-color: #1e4a6b;border-color:#1e4a6b;" [hidden]="accept_hideme[i] || hideme[i]" class="btn btn-primary" (click)="confirm_request(frdProfile._id);accept_hideme[i] = !accept_hideme[i];hideme[i] = hideme[i];">Confirm</button>
        <button type="button" name="button" style="margin-left: 15px;" class="btn btn-secondary" [hidden]="hideme[i] || accept_hideme[i]" (click)="reject_request(frdProfile._id);hideme[i] = !hideme[i];accept_hideme[i] = accept_hideme[i]">Delete</button>
        <label [hidden]="!accept_hideme[i] || hideme[i]">Accept request</label>
        <label [hidden]="!hideme[i] || accept_hideme[i]">Reject request</label>
      </div>
    </div>
  </div>
  <div class="peopleknow_label">
    <h6 class="people_title">People you may know</h6>
  </div>
  <div class="row" style="padding: 10px;" *ngFor="let data of datas;let i = index">
    <div class="col-md-12" (click)="openProfile(data._id);">
      <img width="60" height="60" [src]="data.profileImgURl" onerror="this.src='/assets/images/default_user.jpg';" style="border-radius: 50%;" />
      <label style="color: #ffffff;margin-left: 10px;position: absolute;">{{data.name}}</label>
      <!-- <label style="color: #ffffff">{{data._id}}</label> -->
    </div>
    <div class="col-md-12" style="margin-left: 70px;bottom: 15px;">
      <button type="button" name="button" style="background-color: #1e4a6b;border-color:#1e4a6b;" *ngIf="data.match != true" class="btn btn-primary" [hidden]="hideme[i]" (click)="sendRequest(data._id);hideme[i] = !hideme[i]">Add Friends</button>
      <button type="button" name="button" class="btn btn-secondary" *ngIf="hideme[i] || data.match">Cancel Request</button>
      <button type="button" name="button" style="margin-left: 15px;" class="btn btn-secondary" [hidden]="hideme[i]" *ngIf="data.match != true">Cancel</button>
    </div>
  </div>
</div>

<div class="viewProfile" style="margin-left: 20.0rem;justify-content: center;display: flex;height:100%" *ngIf="showView != true">
  <div class="container" style="position: relative;">
    <div class="vertical-center" style="position: inherit;top: 50%;transform: translateY(-50%);text-align: center;">
      <div>
        <img width="60" height="60" src='/assets/images/default_user.jpg' style="border-radius: 50%;" />
      </div>
      <div>
        Select people's names to preview their profile.
      </div>
    </div>
  </div>
</div>

<div class="viewProfile" style="margin-left: 20.0rem;padding-top: 101px;" *ngIf="showView">
  <div class="cover_pic" [ngStyle]="{ 'background-image': 'url(' + imageCov + ')'}"></div>

  <div class="bg-white profile_navbar">
  	<div class="profile_pic_main_tabs_sec width_95">
  		<div class="profile_pic position-relative profile_edit">
  				<div class="profile-pic-icon">
  					<img [src]="previewUrl" onerror="this.src='/assets/images/default_user.jpg';">
  				</div>
  			<div class="profile_name">{{name}}</div>
  		</div>

  		<div class="actions">
  			<a [routerLink]="['/friends/', login_id]" (click)="timeline_hide = true; owlcarouselSet()"><button>Timeline</button></a>
  			<a [routerLink]="['about']" (click)="timeline_hide = false"><button>About</button></a>
  			<a [routerLink]="['photos']" (click)="timeline_hide = false"><button>Photos</button></a>
  			<a [routerLink]="['friends']" (click)="timeline_hide = false"><button>Friends</button></a>
  			<a [routerLink]="['more']" (click)="timeline_hide = false"><button>More</button></a>
  		</div>
  		<div class="main_action"></div>
  	</div>
  </div>

  <div class="main d-flex">
    <div class="main_area load_area">
      <ng-container *ngIf="timeline_hide">
      <div *ngFor="let data of frd_datas; let i = index;" class="main_post_content d-flex flex-column">
        <div class="d-flex" style="width: 100%">
          <div class="profile_pic_profile position-relative">
            <img [src]="profileImg" onerror="this.src='/assets/images/default_user.jpg';">
          </div>
          <div class="name_and_desc" style="width: 100%">
            <div class="d-flex justify-content-between align-items-center">
              <div class="profile_name_of_poster">{{u_name}}</div>
              <div class="province d-flex align-items-center">
                <img src="assets/images/add_ob.png">
                <div>Pulshar, MB</div>
              </div>
            </div>
            <div class="item_desc mt-3" style="width: 100%">{{data.description}}</div>
          </div>
        </div>
        <div class="slider_bid_like-share d-flex flex-column" style="width: 100%" id="slider-owl-carousel-load">
          <div class="owl-carousel owl-theme" id="owl-demo" *ngIf="data.imageUrl.length > 0">
            <div class="item" *ngFor="let imageurl of data.imageUrl">
              <!-- <img class="slider_image" [src]="imageurl" [attr.data-slide-to]="i"> -->
              <img class="slider_image" [src]="imageurl" [attr.data-slide-to]="i" *ngIf="imageurl.split('.').pop() !== 'mp4'">
              <video controls class="slider_video" *ngIf="imageurl.split('.').pop() == 'mp4'" disablePictureInPicture controlsList="nodownload">
                <source [src]="imageurl" type="video/mp4">
                <!-- <source [src]="imageurl" type="video/ogg"> -->
              </video>
            </div>
          </div>
          <div class="cat_bid d-flex justify-content-between align-items-center mt-3" *ngIf="data.imageUrl.length > 0">
            <div class="category">Electronics</div>
            <div class="bid_current d-flex align-items-center">
              <div class="current_bid">Current bid @</div>
              <div>310$</div>
            </div>
          </div>
          <div class="bid_section d-flex justify-content-between align-items-center mt-3" *ngIf="data.imageUrl.length > 0">
            <div class="d-flex align-items-center">
              <div class="starting_bid mt-0">Asking Price @</div>
              <div class="main-price">300$</div>
            </div>
            <div class="bid_now">
              <button>BID NOW</button>
            </div>
          </div>
          <div class="take_action">
            <button class="like_sec" (click)="likeIt(data._id);">
              <i class="fa" [ngClass]="postlikeId.includes(data._id) ? 'fa-thumbs-up': 'fa-thumbs-o-up'" #like_font></i>
              <div>Like <span>{{data.like.length === 0 ? '' : data.like.length}}</span></div>
            </button>
            <button class="comment_sec_{{data._id}} comment_sec" (click)="open_comments(data._id)">
              <i class="far fa-comment-dots"></i>
              <div>Comment<span>{{data.comment.length === 0 ? '' : checkTem ? data.comment.length + 1 : data.comment.length}}</span></div>
            </button>
            <button class="share_sec">
              <i class="far fa-share"></i>
              <div>Share<span>7</span></div>
            </button>
          </div>
          <div class="write_comments">
            <form (ngSubmit)="addComments(data._id, cmntuname, cmntuprofile)" [formGroup]="commentsForm">
              <input type="text" placeholder=" Write a comment...!" formControlName="newcomment">
            </form>
          </div>
          <div class="comments_container_{{data._id}} comments_container" style="display: none;" *ngIf="data.comment.length > 0">
            <div class="comment_title">Comments:</div>
            <ng-container *ngIf="checkTem && tempPostId === data._id">
              <div class="comment_user d-flex"  *ngFor="let temp of temCmnt.slice().reverse()">
                <!-- <img src="assets/images/profile.jpg"> -->
                <img [src]="tempProfile" onerror="this.src='/assets/images/default_user.jpg';">
                <div>
                  <div class="commenter">{{tempName}}</div>
                  <div class="comment_here">{{temp}}</div>
                </div>
              </div>
            </ng-container>

            <div class="comment_user d-flex" *ngFor="let comnt of data.comment.slice().reverse();">
              <!-- <img src="assets/images/profile.jpg"> -->
              <img [src]="comnt.profile" onerror="this.src='/assets/images/default_user.jpg';">
              <div>
                <div class="commenter">{{comnt.name}}</div>
                <div class="comment_here">{{comnt.newcomment}}</div>
              </div>
            </div>

            <!-- <div class="comment_user d-flex ">
              <img src="assets/images/profile.jpg">
              <div>
                <div class="commenter">Arturo flex</div>
                <div class="comment_here">Nulla sagittis sodales dui ut ornare. Donec feugiat at lacus et tempor. Vivamus eros odio, convallis ut orci et, feugiat ultrices elit. Aenean suscipit tellus accumsan, gravida risus sed,</div>
              </div>
            </div>
            <div class="comment_user d-flex ">
              <img src="assets/images/user2.jpg">
              <div>
                <div class="commenter">Mellisa mcmahon</div>
                <div class="comment_here">Nulla sagittis sodales dui ut ornare. Donec feugiat at lacus et tempor. Vivamus eros odio, convallis ut orci et, feugiat ultrices elit. Aenean suscipit tellus accumsan, gravida risus sed,</div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div *ngIf="frd_datas.length == 0">
        Not time line avalible for this friend
      </div>
      </ng-container>

      <ng-container *ngIf="!timeline_hide">
        <router-outlet></router-outlet>
      </ng-container>
  	</div>
  </div>
</div>
