<div style="border-bottom: 1px solid #000000;align-items: center;">
    <button class="close" mat-button (click)="Close()">x</button>
    <h2 style="font-size: 1.25rem;text-align: center;padding: 10px;">Make Great Albums</h2>
  </div>
  <div style="padding: 20px 0px 20px 20px;">
    <div>
      <img width="40" height="40" [src]="smallProfile" onerror="this.src='/assets/images/default_user.jpg';" style="border-radius: 50%;" /> {{name | titlecase}}
    </div>
    <br/>
    <div style="overflow-y: scroll; max-height: 60vh;">
      <div>
        <input #postName type="text" name="album_name" id="album_name" placeholder="Album Name" style="width: 100%; height: 100%; border: none; padding: 8px;min-height: 50px;max-height: 50px;" required>
        <textarea #postMsg name="Text1" cols="40" rows="5" placeholder="Description" style="width: 100%; height: 100%; border: none; padding: 8px; min-height: 150px; max-height: 150px;" required></textarea>
      </div>
    
      <div class="text-center col-md-12 load_new_image" style="margin-top: 50px;" id="load_new_image_id">
  
        <ng-container *ngIf="!twoimg && !threeimg && !fourimg && !fiveimg">
          <a *ngIf="shows" class="cancel_btn" (click)="cancel()"><img src="../../assets/images/cancel.png" width="20px" height="20px" alt="" title="cancel image"> </a>
          <img #postImage class="change_width" style="width: 100%" [src]="image" *ngFor="let image of images; let i = index;"/>
          
        </ng-container>
        <ng-container *ngIf="twoimg && !threeimg && !fiveimg && !fourimg">
          <a *ngIf="shows" class="cancel_btn" (click)="cancel()"><img src="../../assets/images/cancel.png" width="20px" height="20px" alt="" title="cancel image"> </a>
          <img #postImage class="change_width" style="width: 50%; height: 243px; object-fit: cover;" [src]="image" *ngFor="let image of images; let i = index;"/>
          
        </ng-container>
        <ng-container *ngIf="threeimg && !twoimg && !fiveimg && !fourimg">
          <a *ngIf="shows" class="cancel_btn" (click)="cancel()"><img src="../../assets/images/cancel.png" width="20px" height="20px" alt="" title="cancel image"> </a>
          <img #postImage class="change_width" style="width: {{(isFirst) ? '100%' : '50%'}}; height: 243px; object-fit: cover;" [src]="image" *ngFor="let image of images; let i = index; first as isFirst"/>
          
        </ng-container>
        <ng-container *ngIf="fourimg && !twoimg && !threeimg && !fiveimg">
          <a *ngIf="shows" class="cancel_btn" (click)="cancel()"><img src="../../assets/images/cancel.png" width="20px" height="20px" alt="" title="cancel image"> </a>
          <img #postImage class="change_width" style="width: '50%'; height: 243px; object-fit: cover;" [src]="image" *ngFor="let image of images; let i = index;"/>
          
        </ng-container>
        <ng-container *ngIf="fiveimg && !fourimg && !twoimg && !threeimg">
          <a *ngIf="shows" class="cancel_btn" (click)="cancel()"><img src="../../assets/images/cancel.png" width="20px" height="20px" alt="" title="cancel image"> </a>
          <img #postImage class="{{(i + 1 > 4) ? 'hidden_last_img' : 'change_width'}}" style="width: 50%; height: 243px; object-fit: cover;" [src]="image" *ngFor="let image of images; let i = index; last as isLast"/>
          <div class="bottom-left set_view_more">View More</div>
          
        </ng-container>
  
      </div>
    </div>
    <br/>
    <input type="file" style="display:none" #file class="btn btn-primary" (change)="openNewDialog($event)" multiple="" />
    <div style="border: 1px solid #000000; border-radius: 6px; margin: 5px 20px 10px 0px; padding: 5px;cursor: pointer;" (click)="file.click();">
      <img src='/assets/images/photos.png' style="width: 5%; float: right; margin-top: -2px;" class="create_post_photo_icon" />
      <h6 style="margin-bottom: 0px; ">Upload Photos/Videos</h6>
    </div>
    <div style="margin-right: 20px;">
      <button type="button" class="btn btn-primary" style="width: 100%" (click)="postSave()">Post</button>
    </div>
  </div>
  
