*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
}
html{
	background-color: #F1F1F1;
}
button, input {
    outline: none !important;
}
a:hover{
    text-decoration: none;
}
body {
    background-color: #F1F1F1;
    background-image: none !important;
}
header{
	background-color: #0f1b31;
	padding: 15px 0;
	position: unset;
}
.logo {
    width: 60%;
}
.header_alignment{
	width: 95vw;
	margin: auto;
}
.login_container button {
	background: #FF900000;
	border: 0;
	padding: 6px 12px;
	border-radius: 4px;
	color: #ffffff;
	font-size: 14px;
	margin-left: 20px;
}
header .ads {
    flex: 2.5;
    background-color: #f0f8ff1c;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    color: #f0f8ff;
    height: 70px;
}
header .logo, .login_container {
    flex: 1;
}
.left_sidebars {
    position: sticky !important;
    margin-top: 20px;
}
.login_container {
    text-align: right;
}
.login_container div {
    display: inline-flex;
    position: relative;
    background: #FF9000;
    border-radius: 4px;
		margin: 10px 0 10px 0;
}
img.logout {
    width: 18%;
    position: absolute;
    top: 0;
    left: 8px;
    bottom: 0;
    margin: auto;
}
.main_container {
    width: 95vw;
    margin: auto;
}
.left_sidebars,.right_sidebar{
	flex: 1;
}
.main_areas {
    flex: 2.5;
		margin: 0 25px;
}
.left_sidebars, .right_sidebar > div, .main_area_contents{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0px 1px 15px 0px rgba(0, 52, 89, 0.58);
    position: relative;
    top: 20px;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}
.left_content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 0px 0px 10px;
    background-color: #f1f1f1;
    border-radius: 4px;
}
a.my_post_links{
    width: 90%;
}
.left_content div {
    color: #003459;
    margin-left: 10px;
    font-weight: 400;
    font-size: 15px;
}
.profile_image img {
    width: 130px;
    border-radius: 50%;
    height: 130px;
    object-fit: cover;
    border: 4px solid #ff9000;
}
.profile_image {
    margin-top: 25px;
    margin-bottom: 10px;
}
.left_content i {
    color: #003459;
    font-size: 18px;
}
.profile_name {
    font-weight: 500;
    color: #003459;
    font-size: 22px;
}
.badges {
    position: relative;
}
.badges_for_fr:before {
    content: attr(data-content);
    position: absolute;
    right: -30px !important;
    font-size: 9px;
    width: 20px;
    height: 20px;
    background-color: #ff9000;
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99 !important;
    font-weight: 500;
    font-size: 12px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.badges_for_pymk:before {
    content: attr(data-content);
    position: absolute;
    right: -30px !important;
    font-size: 9px;
    width: 20px;
    height: 20px;
    background-color: #ff9000;
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99 !important;
    font-weight: 500;
    font-size: 12px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.upgrade_premium i {
    font-size: 20px;
    color: #ff9000;
}
a.premium_upgrade {
    width: 90%;
}
.upgrade_premium {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #003459;
}
.upgrade_premium div {
    font-weight: 500;
    margin-left: 10px;
    font-size: 14px;
    text-transform: uppercase;
}
.cat_search {
    margin-top: 25px;
    width: 90%;
}
.cat_search input {
    background-color: #f1f1f1;
    border: 0;
    padding: 5px 10px;
    width: 100%;
    border-radius: 4px;
}
.cat_search i {
    color: #003459;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
}
.cat_search input::placeholder {
    font-size: 14px;
    color: #a5a5a5;
    text-transform: capitalize;
}
.posts input::placeholder {
    font-size: 15px;
    color: #003459a1;
}
.put_ads_here {
    margin: 25px 0 0;
    width: 90%;
    height: 300px;
    background-color: #003459;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.chat {
    margin-top: 25px;
}
.chat_title {
    color: #003459;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat_sec {
    width: 90%;
    background-color: aliceblue;
    padding: 25px 10px;
    margin: 25px 0 0;
    border-radius: 4px;
}
.chat_title i {
    font-size: 30px;
    color: #ff9000;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.chat_title div {
    color: #003459;
    font-size: 18px;
    font-weight: 500;
}
.online_title {
    color: #003459;
    font-weight: 500;
    margin-top: 20px;
    padding-left: 25px;
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    border-color: #ff9000;
}
.online_title:before {
    content: "";
    background: #FF9000;
    height: 15px;
    width: 15px;
    position: absolute;
    left: 0;
    border-radius: 50%;
    top: -10px;
    bottom: 0;
    margin: auto;
}
.online_user img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
}
.online_user {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 7px 10px;
    border-radius: 4px;
    margin-bottom: 15px;
}
.online_user div {
    margin-left: 10px;
    font-size: 14px;
    color: #003459;
}
.offline_sec .online_title:before {
    content: "";
    height: 15px;
    width: 15px;
    position: absolute;
    left: 0;
    border-radius: 50%;
    top: -10px;
    bottom: 0;
    margin: auto;
    border: 2px solid #FF9000;
    background: none;
}
.posts {
    display: flex;
    width: 100%;
    padding: 10px;
}
.posts input {
    background-color: #f1f1f1;
    border: 0;
    padding: 5px 10px;
    width: 100%;
    border-radius: 4px;
    height: 55px;
    padding-right: 12.6%;
    color: #003459;
    font-size: 14px;
    padding-left: 15px;
}
.posts button {
    background-color: #003459;
    border: 0;
    color: #ffffff;
    padding: 7px 18px;
    border-radius: 4px;
    margin-left: 10px;
    position: absolute;
    right: 22px;
    margin-top: 9px;
}
.online_sec.offline_sec > div:last-child {
    margin-bottom: 0;
}
.profile_pics img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.autocomplete-container .suggestions-container ul li a {
		padding: 5px 8px 20px 15px !important;
}

.main_post_contents {
    padding: 25px 20px;
    overflow: hidden;
		width: 100%;
}
.timeline {
    margin: 25px 0;
    overflow: hidden;
}
.name_and_desc {
    margin-left: 20px;
}
.item_desc {
    font-size: 14px;
    color: #003459;
    margin-top: -15px;
}
.profile_pics:before {
    content: "";
    position: absolute;
    right: 2px;
    top: 22px;
    background: #ff9000;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.slider_image {
    height: 300px;
    margin-top: 25px;
		vertical-align: unset !important; 
}
img.slider_image {
    border-radius: 4px;
    object-fit: cover;
}
.item {
    margin: auto;
    width: 96%;
}
.starting_bid {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: #003459;
    font-size: 18px;
}
.bid_section{
    justify-content: center;
}
.main-price {
    background-color: aliceblue;
    padding: 5px 15px;
    margin-left: 10px;
    color: #003459;
    font-size: 20px;
    font-weight: 500;
    border-radius: 4px;
}
.bid_now button {
    background-color: #ff9000;
    border: 0;
    color: #ffffff;
    padding: 7px 18px;
    border-radius: 4px;
    margin-left: 10px;
}
.take_action {
    background-color: #ecedee;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
    margin-top: 15px;
    border-radius: 4px;
}

.no_share_action{
	background-color: #ecedee;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 5px;
	margin-top: 15px;
	border-radius: 4px;
}

.post_take_action {
    grid-template-columns: 0fr 0fr 0fr;
}

.take_action > button {
		display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff00;
    border: 0;
		text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #003459;
}

.no_share_action > button {
		display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff00;
    border: 0;
		text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #003459;
}

.take_action > button i {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 600;
}

.no_share_action > button i {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 600;
}

.take_action > button span {
    color: #ff9000;
    padding-left: 5px;
    font-weight: 500;
    font-size: 16px;
}
.take_action > button div {
    display: flex;
    align-items: center;
}

.no_share_action > button span {
    color: #ff9000;
    padding-left: 5px;
    font-weight: 500;
    font-size: 16px;
}
.no_share_action > button div {
    display: flex;
    align-items: center;
}

.take_action > button.comment_sec {
    border: 1px solid #ff9000 !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
}

.no_share_action > button.comment_sec {
	border: 1px solid #ff9000 !important;
	border-top: 0 !important;
	border-bottom: 0 !important;
	border-right: 0 !important;
}

.Comment_sec {
    border-left: 1px solid #ff9000;
    border-right: 1px solid #ff9000;
}
.friends_Posts {
    width: 90%;
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 15px;
    padding: 10px;
    color: #003459;
    background-color: aliceblue;
    border-radius: 4px;
}
.friends_Posts > div{
    flex: 1;
}
.my_friends_numbers {
    font-size: 16px;
    margin-left: 5px;
    font-weight: 500;
    color: #003459;
}
.friends_Posts > div {
    justify-content: center;
}
.total_friends_of_user {
    border-right: 1px solid #ff9000;
}
.profile_name_of_poster {
    font-weight: 500;
    font-size: 20px;
    color: #003459;
    line-height: 1;
}
.search_somenone_profile{
	font-size: 15px;
	color: #003459;
	line-height: 1;
}
.autocomplete-container{
	box-shadow: none !important;
}
.autocomplete-container .input-container input{
	background-color: #f1f1f1 !important;
}
.owl-stage {
		display: -webkit-box;
}
.owl-carousel, .owl-drag, .owl-item, .owl-carousel, .owl-stage{
    width: 100% !important;
}
/* .owl-stage-outer { */
	/* transition: height 500ms ease-in-out 0s; */
	/* transform: translate3d(-740px, 0px, 0px) !important; */
	/* transition: all 0.25s ease 0s; */
/* } */
.owl-dots {
    display: none;
}
.owl-nav {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button.owl-prev span {
    position: absolute;
    font-size: 34px;
    color: #003459;
    top: -6px;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    font-weight: 400;
    z-index: 9;
    left: 9px !important;
}
button.owl-next span {
    position: absolute;
    font-size: 34px;
    color: #003459;
    top: -6px;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    font-weight: 400;
    right: 8px;
    z-index: 9;
}
button.owl-next {
    position: relative;
    left: 5px;
}
button.owl-prev {
    position: relative;
    left: -5px;
}
button.owl-prev, .owl-next {
    background: #ffffff !important;
    height: 30px;
    width: 30px;
    border-radius: 50% !important;
    box-shadow: 0 0 6px 0px #003459;
}
.post_by_user_second .profile_pics:before {
    content: "";
    position: absolute;
    right: 2px;
    top: 36px;
    background: transparent;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #ff9000;
}
.upgrade_premium {
    padding: 7px;
    border: 2px solid #003459db;
    border-radius: 4px;
    color: #003459;
    display: flex;
    align-items: center;
}

a.my_post_links:hover div > div {
    text-decoration: underline;
}
.online_user div{
    position: relative;
}
.online_user div:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background-color: #ff9000;
    border-radius: 50%;
    bottom: -3px;
    left: -18px;
}
.offline_sec .online_user div{
    position: relative;
}
.offline_sec .online_user div:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    border: 2px solid #FF9000;
    background-color: transparent;
    border-radius: 50%;
    bottom: -3px;
    left: -18px;
}

.comments_container {
    background-color: #f0f8ff;
    border-radius: 4px;
    margin-top: 15px;
    color: #003459;
    padding: 15px;
}
.comment_title {
    font-weight: 500;
    color: #ff9000;
    font-size: 18px;
    margin-bottom: 20px;
}
.comment_user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.comment_user div {
    margin-left: 10px;
    font-size: 13px;
    position: relative;
}
.commenter:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background-color: #ff9000;
    border-radius: 50%;
    bottom: -11px;
    left: -29px;
}
.comment_user {
    margin: 10px 0;
}
.commenter {
    font-size: 16px !important;
    line-height: 1.2;
}
.comment_here {
    background: #ffffff;
    border-radius: 4px;
    margin-top: 10px;
    padding: 5px;
}
.province img {
    width: 25px;
    margin-right: 10px;
}
.province div {
    color: #003459;
    font-size: 14px;
}
.province {
    padding: 5px 10px;
    box-shadow: 0 0 4px #003459;
    border-radius: 4px;
}
.cat_bid {
    color: #003459;
}
.category {
    background-color: #ecedee;
    padding: 5px 7px;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 1px;
}
.current_bid {
    font-size: 14px;
    margin-right: 10px;
}
.bid_current > div:last-child {
    padding: 5px 7px;
    background-color: aliceblue;
    border-radius: 4px;
    font-size: 18px;
}
@media (max-width: 576px){
	header{
		width: 100%;
		padding: 0;
	}

	.logo{
		width: 70%;
	}

	.login_container{
		margin: unset;
	}
	/* .position-relative{
		height: 32px;
	} */

	.position-relative-img{
		width: 20%;
		 position: relative!important;
	}

	/* .navbar-collapse{
		display: flex;
	} */

	/* .profile_name {
		color: #ffffff;
	} */

	/* .position-relative{
		position: relative!important;
		width: 100%;
	} */

	.badges_for_pymk:before{
		right: 165px;
	}

	.badges_for_fr:before {
		right: 210px;
	}

	img.logout {
		width: 18%;
	}

	.login_container button{
		margin: 5px 160px !important;
	}

	.logo{
		margin-left: unset;
	}

	.navbar-toggler{
		font-size: 0.9rem;
		padding: unset;
	}
}
.write_words {
    width: 100%;
    padding: 20px !important;
}

.write_words input {
    background-color: #f1f1f1;
    border: 0;
    padding: 5px 10px;
    width: 100%;
    border-radius: 4px;
    height: 55px;
		color: #003459;
		font-size: 14px;
    padding: 5px 12.6% 5px 15px;
		margin-bottom: 10px;
}

.write_words div {
	align-items: center;
	/* margin-top: -12px; */
}

/* .write_words button {
    background-color: #003459;
    border: 0;
    color: #ffffff;
    padding: 7px 18px;
    border-radius: 4px;
    margin-left: 10px;
    position: absolute;
    right: 35px;
		top: 28px;
} */

.profile_pic_profile img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.name_and_desc {
    margin-left: 20px;
}
.mat-dialog-container {
	padding: 0 !important;
}

.slider_video {
	height: 300px;
	margin-top: 25px;
	width: 100%;
	object-fit: cover;
}

.write_comments {
    display: grid;
    margin-top: 15px;
    border-radius: 4px;
}

.write_comments > form > input {
		padding: 4px;
    background: #ecedee;
    border: none;
		border-radius: 5px;
		padding-left: 10px;
		width: 100%;
}

.allusers_set{
	padding-left: 15px;
	margin-top: 10px;
	border-bottom: 1px solid #e5e5e5;
}

/* .basic_info{
	display:none; */
	/* position: fixed; */
/* } */

.basic_info{
	position: absolute;
	z-index: 9;
	top: 70px;
	background-color: #ffffff;
	box-shadow: 0px 1px 15px 0px rgba(0, 52, 89, 0.58);
	display: block !important;
	padding: 15px;
}

/* .basic_info{
	display: block !important;
	padding: 15px;
} */

.set_redirect_link:hover, .profile_name_of_poster:hover{
	text-decoration: underline;
}

.profile_basic_info{
		font-weight: 500;
    font-size: 20px;
    color: #003459;
    line-height: 1;
		margin-bottom: 12px;
}

/*-----------------------rcss---------------------------*/

	.profile_name_of_poster {
	    margin-right: 10px;
	}


@media (max-width: 320px){
	.right_sidebar {
		 display: none;
	}
	.write_words input {
	    padding: 6px 3px !important;
	    margin-top: 14px;
	    border-radius: 50px;
	    border: 1px solid #ddd;
	    margin-bottom: 12px;
			font-size: 11px;
	}
	.profile_pic_profile.position-relative img {
	    width: 100%;
	    border-radius: 50%;
	}
	.main_areas {
	    margin: 0;
	    width: 100%;
	}
	.header_alignment {
	    display: block !important;
	}
	header {
	    width: 100%;
	}
	.logo {
	    width: 56%;
	    margin: 0 auto;
	    text-align: center;
	}
	header .ads {
	    margin-top: 15px;
	}
	.login_container {
	    justify-content: center !important;
	}
	.main_area_contents {
	    margin-top: 12px;
	}
	.login_container button {
	    margin: 0 !important;
	    margin-left: 22px !important;
	}
	.profile_name_of_poster {
	    margin-right: 10px;
	}
	.take_action > button div {
	    font-size: 10px;
	}
	.take_action > button span {
	    font-size: 12px;
	}
	.bid_now button{
		font-size: 12px;
	}
	.badges_for_fr:before {
	    right: -3px;
	}
	.badges_for_pymk:before {
	    right: -7px;
	}
	.right_sidebar > div {
	    padding: 25px 0;
	}
	.left_sidebars {
	    position: unset !important;
	}

	.write_words {
	    width: 100%;
	    padding: 8px !important;
	}
}

@media (min-width: 321px) and (max-width: 767px){

	.right_sidebar {
		 display: none;
	}
	.left_sidebars {
	    position: unset !important;
	}

	.left_sidebars {
	    top: 0;
	}
	.profile_pic_profile.position-relative img {
	    width: 100% ;
	    border-radius: 50%;
	}
	.profile_name_of_poster {
	    margin-right: 10px;
	}
	.main_areas {
	    margin: 0;
	    width: 100%;
	}
	.header_alignment {
	    display: block !important;
	}
	header {
	    width: 100%;
	}
	.logo {
	    width: 56%;
	    margin: 0 auto;
	    text-align: center;
	}
	header .ads {
	    margin-top: 15px;
	}
	.login_container {
	    justify-content: center !important;
	}
	.main_area_contents {
	    margin-top: 12px;
	}
	.login_container button {
	    margin: 0 !important;
	    margin-left: 22px !important;
	}
	.write_words input {
    margin-top: 14px;
    padding: 6px 52px !important;
    border-radius: 50px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
	.bid_now button{
		font-size: 13px;
	}

}

@media (min-width: 768px) and (max-width: 1023px){
	.profile_pic_profile img {
	    width: 100%;
	    border-radius: 50%;
	}
}


@media (max-width: 1024px){
	.left_sidebars {
		order: 1;
		flex: 1;
	}
	.right_sidebar {
		order: 2;
		flex: 1;
	}
	.main_container {
		flex-wrap: wrap;
	}
	.main_areas {
		flex: 1;
		order: 3;
	}
	.profile_name_of_poster {
	    margin-right: 10px;
	}
		.write_words input {
	    margin-top: 14px;
	    padding: 6px 123px;
	    border-radius: 50px;
	    border: 1px solid #ddd;
	    margin-bottom: 12px;
	}

}

.tooltiptext {
  /* visibility: hidden; */
	display: none;
	position: absolute;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
	margin-top: 4%;
	margin-left: 18%;
}

/* .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
} */

.showLikes:hover + .tooltiptext {
  /* visibility: visible !important; */
	display: block !important;
  opacity: 0.5;
}

.my_custom_img>img{
	border: 4px solid #ffffff;
}

.hidden_last_img{
  display: none;
}

.set_view_more{
  position: absolute;
  top: 67%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #ffffff;
}
