
<app-header></app-header>

<a id="button_top" onclick="window.scrollTo(0, 0);"></a>
<div class="main_container d-flex align-items-start">
	<div class="left_sidebars">
		<div class="profile_image">
			<img [src]="profileImg" onerror="this.src='/assets/images/default_user.jpg';">
		</div>
		<div class="profile_name">{{name}}</div>
		<div class="friends_Posts d-flex align-items-center">
			<div class="total_friends_of_user d-flex align-items-center">
				<div class="my_friends">Friends</div>
				<div class="my_friends_numbers">{{count_frd}}</div>
			</div>
			<div class="total_posts_of_user d-flex align-items-center">
				<div class="my_friends">Posts</div>
				<div class="my_friends_numbers">{{user_post}}</div>
			</div>
		</div>
		<a class="my_post_links" href="profile/{{id}}">
			<div class="left_content">
				<i class="fas fa-user"></i>
				<div>Go to your Profile</div>
			</div>
		</a>
		<a class="my_post_links" href="#">
			<div class="left_content">
				<i class="fas fa-user-cog"></i>
				<div>Account Setting</div>
			</div>
		</a>
		<a class="my_post_links" href="friends/{{id}}">
			<div class="left_content">
				<i class="fas fa-user-plus"></i>
				<div class="badges_for_fr position-relative" [attr.data-content]="frd_request_count === 0 ? '' : frd_request_count">Friend Requests</div>
			</div>
		</a>
		<a class="my_post_links" href="search/{{id}}">
			<div class="left_content">
				<!-- <i class="fas fa-search-plus"></i> -->
				<img src="/assets/images/searching.png" alt="search">
				<div>Search for someone</div>
			</div>
		</a>
		<a class="my_post_links" href="peopleknow/{{id}}">
			<div class="left_content">
				<i class="fas fa-users"></i>
				<div class="badges_for_pymk position-relative" [attr.data-content]="countSuggest === 0 ? '' : countSuggest">People you may know</div>
			</div>
		</a>
		<a class="my_post_links" href="#">
			<div class="left_content">
				<i class="fas fa-cog"></i>
				<div>Customization</div>
			</div>
		</a>
	</div>
	<div class="main_areas">
		<div class="main_area_contents">
			<div class="write_words position-relative" style="padding-bottom: 10px !important;">
				<input #textmsgPost type="text" placeholder="What is going on in your gaming world today {{name}}!" (click)="openTextDialog($event)">
				<div class="slider_bid_like-share d-flex flex-column">
				<input type="file" style="display:none" #file class="btn btn-primary" (change)="openDialog($event)" multiple="" />
				<div class="take_action post_take_action" (click)="file.click();" title="Photos/Videos">
					<button class="like_sec" style="display: contents;">
					<i class="fa fa-camera"></i>
					<div>Photos/Videos</div>
					</button>
				</div>
				</div>
			</div>
		</div>

		<div class="main_area_contents timeline" *ngFor="let data of datas | slice:0:totalDisplayed;let i = index" id="posts_img">

			<div class="main_post_contents d-flex flex-column">
				<div class="d-flex show_basic_info" style="width: 100%" (mouseleave)="showbasicProfile2[i]=false">
					<div class="profile_pic_profile position-relative-img">
						<img [src]="data.post_profileImg" onerror="this.src='/assets/images/default_user.jpg';">
						<div class="basic_info" *ngIf="showbasicProfile[i]" >
							<div class="d-flex">
								<img [src]="data.post_profileImg" onerror="this.src='/assets/images/default_user.jpg';" class="hover-info-img">
								<div style="padding: 10px;">
									<a href="profile/{{data.userId}}"><div class="profile_basic_info set_redirect_link">{{data.post_user}}</div></a>
									<div class="profile_basic_info">{{data.post_user_designation}}</div>
									<div class="profile_basic_info">{{data.post_user_email}}</div>
								</div>
							</div>
							<div class="full-width-50" *ngIf="current_user['data']._id !== data.userId">
								<i class="fa fa-comments-o" style="margin: 0px 11px 0px 23px"></i><div style="display: contents;">Message</div>
							</div>
							<div class="full-width-50" *ngIf="current_user['data']._id == data.userId">
								<i class="fa fa-comments-o" style="margin: 0px 11px 0px 23px"></i><div style="display: contents;">Edit Profile</div>
							</div>
							<div class="full-width-20" *ngIf="current_user['data']._id !== data.userId">
								<i class="fas fa-user-check" style="margin-left: 18px"></i>
							</div>
							<div class="full-width-20" *ngIf="current_user['data']._id == data.userId" (click)="showProfile()" title="View as">
								<i class="fas fa-eye" style="margin-left: 18px"></i>
							</div>
							<div class="full-width-20">
								<i class="fas fa-ellipsis-h" style="margin-left: 18px"></i>
							</div>
						</div>
					</div>
					<div class="name_and_desc" style="width: 100%">
						<div class="d-flex justify-content-between align-items-center">
							<a href="profile/{{data.userId}}" (mouseover)="showbasicProfile2[i]=true" ><div class="profile_name_of_poster">{{data.post_user}}</div></a>
							<div class="province d-flex align-items-center">
								<img src="assets/images/add_ob.png">
								<!-- <div>{{data.city}}, {{data.state}}</div> -->
								<div *ngIf="data.city !== null && data.state !== null">{{data.city}} {{data.state}}</div>
          						<div *ngIf="data.city === undefined && data.state === undefined">Not Mention</div>
							</div>
							<div class="basic_info" *ngIf="showbasicProfile2[i]" (mouseleave)="showbasicProfile2[i]=false">
								<div class="d-flex">
									<img [src]="data.post_profileImg" onerror="this.src='/assets/images/default_user.jpg';" class="hover-info-img2">
									<div style="padding: 10px;">
										<a href="profile/{{data.userId}}"><div class="profile_basic_info set_redirect_link">{{data.post_user}}</div></a>
									<div class="profile_basic_info"><i class="fas fa-user-tie" style="margin-right: 10px"></i>{{data.post_user_designation}}</div>
										<div class="profile_basic_info"><i class="fas fa-envelope" style="margin-right: 10px"></i>{{data.post_user_email}}</div>
									</div>
								</div>
								<div class="full-width-50" *ngIf="current_user['data']._id !== data.userId">
									<i class="fa fa-comments-o" style="margin: 0px 11px 0px 23px"></i><div style="display: contents;">Message</div>
								</div>
								<div class="full-width-50" *ngIf="current_user['data']._id == data.userId">
									<i class="fa fa-comments-o" style="margin: 0px 11px 0px 10px"></i><div style="display: contents; font-size: 15px;">Edit Profile</div>
								</div>
								<div class="full-width-20" *ngIf="current_user['data']._id !== data.userId">
									<i class="fas fa-user-check" style="margin-left: 15px"></i>
								</div>
								<div class="full-width-20" *ngIf="current_user['data']._id == data.userId" (click)="showProfile()" title="View as">
									<i class="fas fa-eye" style="margin-left: 15px"></i>
								</div>
								<div class="full-width-20">
									<i class="fas fa-ellipsis-h" style="margin-left: 15px"></i>
								</div>
							</div>
						</div>
						<div style="color: #0F1B31;font-size: 14px;" *ngIf="data.name !== undefined">Album: {{data.name}} </div>
						<div class="data_desc" style="width: 100%">{{data.description}}</div>
					</div>
				</div>

				<div class="slider_bid_like-share d-flex flex-column" style="width: 100%">
					<div class="one_image" *ngIf="data.imageUrl.length == 1">
						<ng-image-slider onerror="this.src='/assets/images/default_user.jpg';" [imageSize]="{width: '100%', height: '320px'}"  [showArrow]=false class="slider_image" [images]="data.imageUrl" #nav></ng-image-slider>
					</div>
					<div *ngIf="data.imageUrl.length == 2">
						<div class="item two_image" >
							<ng-image-slider onerror="this.src='/assets/images/default_user.jpg';" [animationSpeed]="0.3" [autoSlide]=0 [imageSize]="{width: '49%'}" [showArrow]=false class="slider_image" [images]="data.imageUrl" #nav></ng-image-slider>
						</div>
					</div>
					<div *ngIf="data.imageUrl.length == 3">
						<div class="item three_image" *ngIf="data.imageUrl[0].size == 100">
							<ng-image-slider [animationSpeed]="0.3" [autoSlide]=0 [imageSize]="{width: '99%'}" animationSpeed=0.1 [showArrow]=false class="slider_image" [images]="data.imageUrl" #nav></ng-image-slider>
							<ng-image-slider [animationSpeed]="0.3" [autoSlide]=0 [imageSize]="{width: '49%', height: 200}" [showArrow]=false class="slider_image_2" [images]="data.imageUrl" #nav></ng-image-slider>
						</div>
					</div>
					<div *ngIf="data.imageUrl.length == 4">
						<div class="item four_image">
							<ng-image-slider [animationSpeed]="0.3" [autoSlide]=0 [imageSize]="{width: '49%'}" [showArrow]=false class="slider_image" [images]="data.imageUrl" #nav></ng-image-slider>
							<ng-image-slider [animationSpeed]="0.3" [autoSlide]=0 [imageSize]="{width: '49%', height: 238}" [showArrow]=false class="slider_image_4" [images]="data.imageUrl" #nav></ng-image-slider>
						</div>
					</div>
					<div *ngIf="data.imageUrl.length > 4">
						<div class="item four_image">
							<ng-image-slider [animationSpeed]="0.3" [autoSlide]=0 [imageSize]="{width: '49%'}" [showArrow]=false class="slider_image" [images]="data.imageUrl" #nav></ng-image-slider>
							<ng-image-slider [animationSpeed]="0.3" [autoSlide]=0 [imageSize]="{width: '49%', height: 238}" [showArrow]=false class="slider_image_5" [images]="data.imageUrl" title="more" #nav></ng-image-slider>
						</div>
					</div>
					<div [ngClass]="current_user['data']._id !== data.userId ? 'take_action' : 'no_share_action'">
						<button class="showLikes" (click)="likeIt(data._id, data.like.length);">
							<i class="fa" id="{{data._id}}" [ngClass]="postlikeId.includes(data._id) ? 'fa-thumbs-up' : 'fa-thumbs-o-up'"></i>
							<div>Like<span id="count_{{data._id}}">{{data.like.length === 0 ? '' : data.like.length}}</span></div>
						</button>

						<div class="tooltiptext" *ngIf="data.like.length > 0">
							<div *ngFor="let like of data.like">
								{{like.name}}
							</div>
						</div>

						<button class="comment_sec_{{data._id}} comment_sec" (click)="open_comments(data._id)">
							<i class="far fa-comment-dots"></i>
							<div *ngIf="data.comment.length !== 0">Comment<span>{{data.comment.length !== 0 ? (data._id === tempPostId) ? data.comment.length + temCmnt.length : data.comment.length : ''}}</span></div>
							<div *ngIf="data.comment.length === 0">Comment<span>{{data.comment.length === 0 ? (data._id === tempPostId) ? data.comment.length + temCmnt.length : '' :data.comment.length }}</span></div>
						</button>
						<button class="share_sec_{{data._id}} share_sec" (click)="share(data._id)" *ngIf="current_user['data']._id !== data.userId">
							<i class="far fa-share"></i>
							<div *ngIf="data.share.length !== 0">Share <span> {{data.share.length}} </span> </div>
							<div *ngIf="data.share.length === 0">Share</div>
						</button>
						<div class="sharing_container_{{data._id}} sharing_container" style="display: none;">
							<div class="share_users" *ngFor="let friend of friends">
								<div class="user_profile" (click)="sharing(data._id, friend._id, friend.name)" style="cursor: pointer;">
									<img [src]="friend.profileImgURl" onerror="this.src='/assets/images/default_user.jpg';" alt="profileImage" width="40px" height="40px">
									<p>{{friend.name}}</p>
								</div>
								<div class="share_icon">
									<a class="share_sec" (click)="sharing(data._id, friend._id, friend.name)">
										<i class="fa fa-share"></i>
									</a>	
								</div>
							</div>
						</div>
					</div>



					<div class="write_comments">
					<form (ngSubmit)="addComments(data._id, name, profileImg)" [(formGroup)]="commentsForm">
					<input type="text" placeholder=" Write a comment...!" formControlName="newcomment">
					</form>
				</div>
					<div class="comments_container_{{data._id}} comments_container" style="display: none;" *ngIf="data.comment.length > 0 || temCmnt.length > 0">
						<div class="comment_title">Comments:</div>
						<ng-container *ngIf="checkTem && tempPostId === data._id">
							<div class="comment_user d-flex" *ngFor="let temp of temCmnt.slice().reverse(); let i = index">
								<img [src]="tempProfile" onerror="this.src='/assets/images/default_user.jpg';">
								<div>
									<div class="commenter">{{tempName | titlecase}}</div>
									<div class="comment_here">{{temp}}</div>
								</div>
							</div>
						</ng-container>

						<div (mouseleave)="!showbasicProfile3[i]=false" class="comment_user d-flex" *ngFor="let comnt of data.comment.slice().reverse(); let i = index">
							<img [src]="comnt.profile" onerror="this.src='/assets/images/default_user.jpg';">
							<div>
								<a href="profile/{{comnt.userId}}" (mouseover)="!showbasicProfile3[i]=true"><div class="commenter">{{comnt.name | titlecase}}</div></a>
							<div class="comment_here">{{comnt.newcomment}}</div>
						</div>		
						<div class="show_basic_info_card" (mouseleave)="showbasicProfile3[i]=false">
							<div class="basic_info2" *ngIf="showbasicProfile3[i]">	
								<div class="d-flex">
									<img [src]="comnt.profile" onerror="this.src='/assets/images/default_user.jpg';" class="hover-info-img">
									<div class="basic_profile_icons">
										<a href="profile/{{comnt.userId}}"><div style="text-transform: capitalize;" class="profile_basic_info set_redirect_link">{{comnt.name}}</div></a>
										<div class="icons_showing_card">
										<div class="profile_basic_info"><i class="fas fa-user-tie" style="padding-right: 10px"></i>{{comnt.designation}}</div>
										<div class="profile_basic_info"><i class="fas fa-envelope" style="margin-right: 10px"></i>{{comnt.email}}</div>
									</div>	
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
		<div class="loads_btn">
			<!-- <button *ngIf="show_load_more" class="load_btn" (click)="loadMore()">Load more</button> -->
			<div *ngIf="show_load_more" class="load_btn" (click)="loadMore()">
				<img class="load_more" src="../../assets/images/down-arrow.png" width="50px" height="50px" alt="load more" title="load more">
			</div>
		</div>
	</div>
	<div class="right_sidebar">
		<div>
			<div class="cat_search position-relative">
				<ng-autocomplete class="autocomplete-container" #searchText [data]="allUsers" placeHolder="Search someone" [searchKeyword]="keyword" [itemTemplate]="itemTemplate"
						[notFoundTemplate]="notFoundTemplate">
				</ng-autocomplete>

				<ng-template #itemTemplate let-item>
					<div class="d-flex allusers_set">
						<div class="profile_pics position-relative">
							<img [src]="item.profileImgURl" onerror="this.src='/assets/images/default_user.jpg';">
						</div>
						<div>
							<div class="d-flex justify-content-between align-items-center">
								<a href="profile/{{item._id}}"><div class="search_somenone_profile" [innerHTML]="item.name | titlecase"></div></a>
							</div>
						</div>
					</div>
				</ng-template>

				<ng-template #notFoundTemplate let-notFound>
						<div [innerHTML]="notFound"></div>
				</ng-template>
			</div>
			<div class="put_ads_here">Put Your Ads here!</div>
			<div class="chat_sec">
				<div class="chat_title">
					<i class="far fa-comments"></i>
					<div>Chat</div>
				</div>
				<div class="online_sec">
					<div class="online_title">Online</div>
					<div class="online_user">
						<img src="assets/images/profile.jpg">
						<div>Arturo flex</div>
					</div>
					<div class="online_user">
						<img src="assets/images/user2.jpg">
						<div>jessica simpson</div>
					</div>
					<div class="online_user">
						<img src="assets/images/user3.jpg">
						<div>fenny brown</div>
					</div>
					<div class="online_user">
						<img src="assets/images/user4.jpg">
						<div>bradd johnson</div>
					</div>
				</div>
				<div class="online_sec offline_sec">
					<div class="online_title">Offline</div>
					<div class="online_user">
						<img src="assets/images/profile.jpg">
						<div>Arturo flex</div>
					</div>
					<div class="online_user">
						<img src="assets/images/user2.jpg">
						<div>jessica simpson</div>
					</div>
					<div class="online_user">
						<img src="assets/images/user3.jpg">
						<div>fenny brown</div>
					</div>
					<div class="online_user">
						<img src="assets/images/user4.jpg">
						<div>bradd johnson</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
