<div class="overview-main">
  <div class="work_tab">
    <h6>About You</h6>
  </div>
  <div style="margin-bottom: 20px;">
    <i class="fa fa-plus-circle"></i> &nbsp;<a [routerLink]="">Write some deatils about yourself</a>
  </div>
  <div class="work_tab">
    <h6>Names pronunciation</h6>
  </div>
  <div style="margin-bottom: 20px;">
    <i class="fa fa-plus-circle"></i> &nbsp;<a [routerLink]="">Add a name pronunciation</a>
  </div>
  <div class="work_tab">
    <h6>Other Names</h6>
  </div>
  <div style="margin-bottom: 20px;">
    <i class="fa fa-plus-circle"></i> &nbsp;<a [routerLink]="">Add a nickname</a>
  </div>
  <div class="work_tab">
    <h6>Favourite Quotes</h6>
  </div>
  <div style="margin-bottom: 20px;">
    <i class="fa fa-plus-circle"></i> &nbsp;<a [routerLink]="">Add a nickname</a>
  </div>
  <div class="work_tab">
    <h6>Blood donations</h6>
  </div>
  <div style="margin-bottom: 20px;">
    <i class="fa fa-plus-circle"></i> &nbsp;<a [routerLink]="">Learn about blood donor on social share</a>
  </div>
</div>
