<div class="overview-main">
  <div class="work_tab">
    <h6>About You</h6>
  </div>
  <div class="details" style="margin-bottom: 20px;" (click)="aboutDetails()" *ngIf="details === false && fill_details === false">
    <i class="fa fa-plus-circle"></i> &nbsp;<a [routerLink]="">Write some details about yourself</a>
  </div>
  <div  *ngIf="show_details" class="update-list">
    <div class="update-display2" >
    <i> </i> &nbsp;{{details_about}}
    </div>
    <div class="icons-pencil" *ngIf="icons">
      <i (click)="updateDetails(details_about)" class="pencil-icon fa fa-pencil"></i>
      <i (click)="delDetails(details_about)" class="pencil-icon fa fa-trash"></i>
    </div>
  </div>
  <div class="no_mention" *ngIf="not_mention_about"><i class="fa fa-info-circle"> </i>&nbsp; Not mention About</div>
  <div class="details" *ngIf="fill_details">
    <textarea (keyup.enter)="addDetails(details_about)" type="text" [(ngModel)]="details_about" name="" value="" placeholder="Write your details"></textarea>
    <button type="button" name="button" (click)="Cancel()">Cancel</button>
    <button type="button" name="button" (click)="addDetails(details_about)">Save</button>
    <div *ngIf="Required"><p style="color: red;">Please Filled Out Your Details</p></div>
  </div>
  <div class="u_details" *ngIf="u_fill_details">
    <textarea (keyup.enter)="editDetails(details_about)" type="text" [(ngModel)]="details_about" name="" value="" placeholder="Write your details"></textarea>
    <button type="button" name="button" (click)="cancel1()">Cancel</button>
    <button type="button" name="button" (click)="editDetails(details_about)">Save</button>
  </div>
  <div class="work_tab">
    <h6>Names pronunciation</h6>
  </div>

  <div class="pronunciation" style="margin-bottom: 20px;" (click)="newPronunciation()" *ngIf="pronun === false && fill_pronun === false">
    <i class="fa fa-plus-circle"></i> &nbsp;<a [routerLink]="">Add a name pronunciation</a>
  </div>
  <div *ngIf="show_pronun" class="update-list">
    <div class="update-display">
    <i class="fa fa-language"> </i> &nbsp;{{pronun_value}}
    </div>
    <div class="icons-pencil" *ngIf="icons">
      <i (click)="updatePronunciation(pronun_value)" class="pencil-icon fa fa-pencil"></i>
      <i (click)="deletePronunciation(pronun_value)" class="pencil-icon fa fa-trash"></i>
    </div>
  </div>
  <div class="no_mention" *ngIf="not_mention_pronun"><i class="fa fa-language"> </i>&nbsp; Not mention Pronunciation</div>
  <div class="pronunciation" *ngIf="fill_pronun">
    <input (keyup.enter)="addPronunciation(pronun_value)" type="text" [(ngModel)]="pronun_value" name="" value="" placeholder="Add a new pronunciation">
    <button type="button" name="button" (click)="Cancel1()">Cancel</button>
    <button type="button" name="button" (click)="addPronunciation(pronun_value)">Save</button>
    <div *ngIf="Required1"><p style="color: red;">Please Filled Out Your Pronunciation</p></div>
  </div>
  <div class="pronunciation" *ngIf="u_fill_pronun">
    <input (keyup.enter)="editPronunciation(pronun_value)" type="text" [(ngModel)]="pronun_value" name="" value="" placeholder="Add a new pronunciation">
    <button type="button" name="button" (click)="cancel2()">Cancel</button>
    <button type="button" name="button" (click)="editPronunciation(pronun_value)">Save</button>
  </div>
  <div class="work_tab">
    <h6>Other Names</h6>
  </div>
  <div class="nickname" style="margin-bottom: 20px;" (click)="newNickname()" *ngIf="nick === false && fill_nickname === false">
    <i class="fa fa-plus-circle"></i> &nbsp;<a [routerLink]="">Add a nickname</a>
  </div>
  <div *ngIf="show_nickname" class="update-list">
    <div class="update-display">
    <i class="fa fa-user"> </i> &nbsp;{{nickname}}
    </div>
    <div class="icons-pencil" *ngIf="icons">
      <i (click)="updateNickname(nickname)" class="pencil-icon fa fa-pencil"></i>
      <i (click)="deleteNickname(nickname)" class="pencil-icon fa fa-trash"></i>
    </div>
  </div>
  <div class="no_mention" *ngIf="not_mention_nickname"><i class="fa fa-user"> </i>&nbsp; Not mention Nickname</div>
  <div class="nickname" *ngIf="fill_nickname">
    <input (keyup.enter)="addNickname(nickname)" type="text" [(ngModel)]="nickname" name="" value="" placeholder="Add your nickname">
    <button type="button" name="button" (click)="Cancel2()">Cancel</button>
    <button type="button" name="button" (click)="addNickname(nickname)">Save</button>
    <div *ngIf="Required2"><p style="color: red;">Please Filled Out Your Nickname</p></div>
  </div>
  <div class="nickname" *ngIf="u_fill_nickname">
    <input (keyup.enter)="editNickname(nickname)" type="text" [(ngModel)]="nickname" name="" value="" placeholder="Add your nickname">
    <button type="button" name="button" (click)="cancel3()">Cancel</button>
    <button type="button" name="button" (click)="editNickname(nickname)">Save</button>
  </div>
  <div class="work_tab">
    <h6>Favourite Quotes</h6>
  </div>
  <div class="quotes" style="margin-bottom: 20px;" (click)="newQuotes()" *ngIf="quote === false && fill_quotes === false">
    <i class="fa fa-plus-circle"></i> &nbsp;<a [routerLink]="">Add a quotes</a>
  </div>
  <div *ngIf="show_quotes" class="update-list">
    <div class="update-display2" >
    <i class="fa fa-quote-left"> </i> &nbsp;{{quote_value}}
    </div>
    <div class="icons-pencil" *ngIf="icons">
      <i (click)="updateQuotes(quote_value)" class="pencil-icon fa fa-pencil"></i>
      <i (click)="deleteQuotes(quote_value)" class="pencil-icon fa fa-trash"></i>
    </div>
  </div>
  <div class="no_mention" *ngIf="not_mention_quotes"><i class="fa fa-quote-left"> </i>&nbsp; Not mention Quotes</div>
  <div class="quotes" *ngIf="fill_quotes">
    <input (keyup.enter)="addQuotes(quote_value)" type="text" [(ngModel)]="quote_value" name="" value="" placeholder="Add new quotes">
    <button type="button" name="button" (click)="Cancel3()">Cancel</button>
    <button type="button" name="button" (click)="addQuotes(quote_value)">Save</button>
    <div *ngIf="Required3"><p style="color: red;">Please Filled Out Your Quotes</p></div>
  </div>
  <div class="u_quotes" *ngIf="u_fill_quotes">
    <input (keyup.enter)="editQuotes(quote_value)" type="text" [(ngModel)]="quote_value" name="" value="" placeholder="Add new quotes">
    <button type="button" name="button" (click)="cancel4()">Cancel</button>
    <button type="button" name="button" (click)="editQuotes(quote_value)">Save</button>
  </div>
</div>
