input{
  background-color: #f1f1f1;
    border: 0;
    /* padding: 5px 10px; */
    /* width: 100%; */
    border-radius: 4px;
    height: 40px;
    padding-right: 12.6%;
    color: #0F1B31;
    font-size: 14px;
    padding-left: 15px;
}
.hide_theme{
	display: none;
}
.details_show {
  font-size: 13px;
}
.details {
  display: flex;
  align-items: center;
}
button{
  border: 1px solid #f0f8ff;
    background-color: #f0f8ff;
    /* height: 0px; */
    color: #fa9000;
    margin-left: 5px;
    height: 38px;
    padding: 0px 9px;
}

.overview-main a {
  color: #ff9000;
  font-size: 14px;
}

.pencil-icon{
  background: #efefef;
  padding: 5px;
  color: #ff9000;
  border-radius: 50%;
  cursor: pointer;
}

.icons-pencil > i:not(:last-child) {
  margin-right: 10px;
}
textarea.text-area {
  height: 100% !important;
  min-height: 50px;
  max-height: 50px;
  resize: none;
}
.icons-pencil {
  display: flex;
}
.update-list{
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px !important;
}

.update-display{
  display: flex;
  align-items: center;
  line-break: anywhere;
}

.update-display2{
  display: flex;
  align-items: center;
  word-wrap: break-word;
}

.update-display p{
  margin-bottom: 0;
}

i{
  padding: 0px 10px 0px 0px;
}