<div class="overview-main">
  <div class="work_tab">
    <h6>About You</h6>
  </div>
  <div class="details" style="margin-bottom: 20px;" (click)="aboutDetails()" *ngIf="shows6">
    <i class="fa fa-plus-circle"></i> &nbsp;<a [routerLink]="">Write some details about yourself</a>
  </div>
  <div  *ngIf="display7">
    <i class="fa fa-info-circle"> </i> &nbsp;{{details}}
    <button type="button" name="button" (click)="updateDetails(details)">Update</button>
  </div>
  <div class="details" *ngIf="about">
    <textarea type="text" [(ngModel)]="details" name="" value="" placeholder="Write your details"></textarea>
    <button type="button" name="button" (click)="Cancel()">Cancel</button>
    <button type="button" name="button" (click)="addDetails(details)">Save</button>
    <div *ngIf="Required"><p style="color: red;">Please Filled Out Your Details</p></div>
  </div>
  <div class="u_details" *ngIf="u_about">
    <textarea type="text" [(ngModel)]="details" name="" value="" placeholder="Write your details"></textarea>
    <button type="button" name="button" (click)="cancel1()">Cancel</button>
    <button type="button" name="button" (click)="addDetails(details)">Save</button>
  </div>
  <div class="work_tab">
    <h6>Names pronunciation</h6>
  </div>

  <div class="pronunciation" style="margin-bottom: 20px;" (click)="newPronunciation()" *ngIf="shows7">
    <i class="fa fa-plus-circle"></i> &nbsp;<a [routerLink]="">Add a name pronunciation</a>
  </div>
  <div *ngIf="display8">
    <i class="fa fa-language"> </i> &nbsp;{{pronun}}
    <button type="button" name="button" (click)="updatePronunciation(pronun)">Update</button>
  </div>
  <div class="pronunciation" *ngIf="pronunciation">
    <input type="text" [(ngModel)]="pronun" name="" value="" placeholder="Add a new pronunciation">
    <button type="button" name="button" (click)="Cancel()">Cancel</button>
    <button type="button" name="button" (click)="addPronunciation(pronun)">Save</button>
    <div *ngIf="Required1"><p style="color: red;">Please Filled Out Your Pronunciation</p></div>
  </div>
  <div class="pronunciation" *ngIf="u_pronunciation">
    <input type="text" [(ngModel)]="pronun" name="" value="" placeholder="Add a new pronunciation">
    <button type="button" name="button" (click)="cancel2()">Cancel</button>
    <button type="button" name="button" (click)="addPronunciation(pronun)">Save</button>
  </div>
  <div class="work_tab">
    <h6>Other Names</h6>
  </div>
  <div class="nickname" style="margin-bottom: 20px;" (click)="newNickname()" *ngIf="shows8">
    <i class="fa fa-plus-circle"></i> &nbsp;<a [routerLink]="">Add a nickname</a>
  </div>
  <div *ngIf="display9">
    <i class="fa fa-user"> </i> &nbsp;{{nick}}
    <button type="button" name="button" (click)="updateNickname(nick)">Update</button>
  </div>
  <div class="nickname" *ngIf="nickname">
    <input type="text" [(ngModel)]="nick" name="" value="" placeholder="Add your nickname">
    <button type="button" name="button" (click)="Cancel2()">Cancel</button>
    <button type="button" name="button" (click)="addNickname(nick)">Save</button>
    <div *ngIf="Required2"><p style="color: red;">Please Filled Out Your Nickname</p></div>
  </div>
  <div class="nickname" *ngIf="u_nickname">
    <input type="text" [(ngModel)]="nick" name="" value="" placeholder="Add your nickname">
    <button type="button" name="button" (click)="cancel3()">Cancel</button>
    <button type="button" name="button" (click)="addNickname(nick)">Save</button>
  </div>
  <div class="work_tab">
    <h6>Favourite Quotes</h6>
  </div>
  <div class="quotes" style="margin-bottom: 20px;" (click)="newQuotes()" *ngIf="shows9">
    <i class="fa fa-plus-circle"></i> &nbsp;<a [routerLink]="">Add a quotes</a>
  </div>
  <div *ngIf="display10">
    <i class="fa fa-quote-left"> </i> &nbsp;{{quote}}
    <button type="button" name="button" (click)="updateQuotes(quote)">Update</button>
  </div>
  <div class="quotes" *ngIf="quotes">
    <input type="text" [(ngModel)]="quote" name="" value="" placeholder="Add new quotes">
    <button type="button" name="button" (click)="Cancel3()">Cancel</button>
    <button type="button" name="button" (click)="addQuotes(quote)">Save</button>
    <div *ngIf="Required3"><p style="color: red;">Please Filled Out Your Quotes</p></div>
  </div>
  <div class="u_quotes" *ngIf="u_quotes">
    <input type="text" [(ngModel)]="quote" name="" value="" placeholder="Add new quotes">
    <button type="button" name="button" (click)="cancel4()">Cancel</button>
    <button type="button" name="button" (click)="addQuotes(quote)">Save</button>
  </div>
</div>
