.noti_body {
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 1px 15px 0px rgba(0, 52, 89, 0.58);
    position: relative;
    top: 25px;
    border-radius: 4px;
    padding: 25px 15px;
}
.all_notification{
    padding: 0 10px;
    margin-bottom: 5px;
}
.noti_scroll .notify_content {
    font-size: 15px;
}
.noti_body p {
    margin: 0px 0 15px;
    font-size: 20px;
    color: #0F1B31;
    line-height: 1;
    font-family: 'Josefin Sans', sans-serif;
}
.noti_scroll {
    height: auto;
}