<app-header></app-header>

<div class="cover_pic" [ngStyle]="{ 'background-image': 'url(' + imageCov + ')'}">
		<div class="main_action">
			<button class="position-relative cover-set" data-toggle="modal" data-target="#covermodel"><i class="fa fa-camera"></i>Add Cover Photo</button>
		</div>
</div>
<div class="bg-white profile_navbar">
	<div class="profile_pic_main_tabs_sec width_95">
		<div class="profile_pic position-relative profile_edit">
				<div class="profile-pic-icon">
					<img [src]="previewUrl" onerror="this.src='/assets/images/default_user.jpg';">
					<i class="fa fa-camera" title="Upload Profile Photo" id="OpenImgUpload" data-toggle="modal" data-target="#profilemodel"></i>
				</div>
			<div class="profile_name">{{name}}</div>
		</div>

		<div class="actions">
			<a [routerLink]="['timeline']"><button>Timeline</button></a>
			<a [routerLink]="['about']"><button>About</button></a>
			<a [routerLink]="['photos']"><button>Photos</button></a>
			<a [routerLink]="['friends']"><button>Friends</button></a>
			<a [routerLink]="['more']"><button>More</button></a>
		</div>
		<div class="main_action">
		</div>
	</div>
</div>

<div class="main d-flex">
	<div class="left_sidebar">
		<div class="intro">
			<div class="left_title w_90">Intro</div>
			<div class="some_words w_90">I Do not know how? But i believe that it is possible one day if i stay with my dream all time!</div>
			<div class="info_container w_90 d-flex align-items-center">
				<i class="fas fa-briefcase"></i>
				<div #designation *ngIf="u_designation; else defineDes">{{u_designation}}</div>
				<ng-template #defineDes>Designation</ng-template>
			</div>

			<div class="info_container w_90 d-flex align-items-center">
				<i class="fas fa-globe"></i>
				<div #country *ngIf="u_country; else defineCountry">{{u_country}}</div>
				<ng-template #defineCountry>Country</ng-template>
			</div>

			<div class="info_container w_90 d-flex align-items-center">
				<i class="fa fa-map"></i>
				<div #state *ngIf="u_state; else defineState">{{u_state}}</div>
				<ng-template #defineState>Province</ng-template>
			</div>
			<div class="info_container w_90 d-flex align-items-center">
				<i class="fas fa-map-marker-alt"></i>
				<div #city *ngIf="u_city; else defineCity">{{u_city}}</div>
				<ng-template #defineCity>City</ng-template>
			</div>
			<div class="info_container w_90 d-flex align-items-center">
				<i class="fas fa-grin-hearts"></i>
				<div #hobbies *ngIf="u_hobbies">{{u_hobbies}}</div>
				<div *ngIf="u_hobbies.length == undefined || u_hobbies.length == 0 || u_hobbies == ''">Hobbies</div>
			</div>
			<div class="info_container w_90 d-flex align-items-center">
				<i class="fas fa-stopwatch"></i>
				<div>Joined on {{newDate | date:"dd MMMM yyyy"}}</div>
			</div>
			<div class="info_container w_90 d-flex align-items-center">
				<button class="edit-button" (click)="openDialog()">Edit Details</button>
			</div>
		</div>
		<div class="photos">
			<div class="left_title w_90">Photos</div>
			<div class="photos_container w_90">
				<img src="assets/images/gal_1.jpg">
				<img src="assets/images/gal_2.jpg">
				<img src="assets/images/gal_3.jpg">
				<img src="assets/images/gal_4.jpg">
				<img src="assets/images/gal_5.jpg">
				<img src="assets/images/gal_6.jpg">
				<img src="assets/images/gal_7.jpg">
				<img src="assets/images/gal_1.jpg">
				<img src="assets/images/gal_2.jpg">
			</div>
		</div>
		<div class="Friends">
			<div class="left_title w_90">Friends</div>
			<div class="friends_container w_90">
				<div class="a_friend">
					<img src="assets/images/user2.jpg">
					<div>jessy spears</div>
				</div>
				<div class="a_friend">
					<img src="assets/images/profile.jpg">
					<div>Gus fring</div>
				</div>
				<div class="a_friend">
					<img src="assets/images/gal_3.jpg">
					<div>Jenny jane</div>
				</div>
				<div class="a_friend">
					<img src="assets/images/user2.jpg">
					<div>jessy spears</div>
				</div>
				<div class="a_friend">
					<img src="assets/images/profile.jpg">
					<div>Gus fring</div>
				</div>
				<div class="a_friend">
					<img src="assets/images/gal_3.jpg">
					<div>Jenny jane</div>
				</div>
				<div class="a_friend">
					<img src="assets/images/user2.jpg">
					<div>jessy spears</div>
				</div>
				<div class="a_friend">
					<img src="assets/images/profile.jpg">
					<div>Gus fring</div>
				</div>
				<div class="a_friend">
					<img src="assets/images/gal_3.jpg">
					<div>Jenny jane</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main_area">
		<!-- <div *ngIf="router.url == '/profile/id/timeline'">
			<app-timeline></app-timeline>
		</div>
		<div *ngIf="router.url == '/profile/id/about'">
			<app-about></app-about>
		</div>
		<div *ngIf="router.url == '/profile/5ef57cc81b40cf10ecf3e4ae/photos'">
			<app-photos></app-photos>
		</div>
		<div *ngIf="router.url == '/profile/5ef57cc81b40cf10ecf3e4ae/friends'">
			<app-friends></app-friends>
		</div> -->
		<router-outlet></router-outlet>  
	</div>

	<div class="right_sidebar">
		<div class="notification_sec">
			<div class="right_title w_90">Recent Notification</div>
			<div class="all_notification w_90">
				<div class="notifiy w_90 d-flex flex-column">
					<div class="d-flex align-items-center">
						<img src="assets/images/user2.jpg">
						<div>I have recently sold my painting at 420$</div>
					</div>
					<div class="time_ago">5 minutes ago.</div>
				</div>
				<div class="notifiy w_90 d-flex flex-column">
					<div class="d-flex align-items-center">
						<img src="assets/images/user3.jpg">
						<div>Your friend likes to see his product 'mercedes car' </div>
					</div>
					<div class="time_ago">an hour ago.</div>
				</div>
				<div class="notifiy w_90 d-flex flex-column">
					<div class="d-flex align-items-center">
						<img src="assets/images/user2.jpg">
						<div>I have recently sold my painting at 420$</div>
					</div>
					<div class="time_ago">3 hours ago.</div>
				</div>
				<div class="notifiy w_90 d-flex flex-column">
					<div class="d-flex align-items-center">
						<img src="assets/images/user3.jpg">
						<div>Your friend likes to see his product 'mercedes car' </div>
					</div>
					<div class="time_ago">1 Day ago.</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Modal For Profile Photo Upload -->
<div class="modal fade" id="profilemodel" tabindex="-1" role="dialog" aria-labelledby="profilemodelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 60%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profilemodelLabel">Upload Profile Picture</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="display: flex; align-items: center !important; margin-bottom: 20px;">
				<input type="file" style="display:none" #file class="btn btn-primary" (change)="fileChangeEvent($event)" />
				<button type="button" class="btn btn-primary" (click)="file.click();" style="position: absolute; top: 10px;">Upload Image</button>
				<!-- <input type="file" class="btn btn-primary" (change)="uploadPic($event,$event)" /> -->
				<div class="text-center col-md-6" *ngIf="imgeDiv" style="margin-top: 50px;">
						<image-cropper
						[imageChangedEvent]="imageChangedEvent"
						[roundCropper]=true
						[maintainAspectRatio]="true"
						[aspectRatio]="4 / 4"
						[resizeToWidth]="256"
						format="png"
						(imageCropped)="imageCropped($event)"
						(imageLoaded)="imageLoaded()"
						(cropperReady)="cropperReady()"
						(loadImageFailed)="loadImageFailed()"></image-cropper>
				</div>
				<div class="text-center col-md-6" *ngIf="imgeDiv" style="margin-top: 50px;">
						<img [src]="croppedImage" onerror="this.src='/assets/images/default_user.jpg';" class="preview_circle" >
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="uploadPic()" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal For Cover Photo Upload -->
<div class="modal fade" id="covermodel" tabindex="-1" role="dialog" aria-labelledby="covermodelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 60%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="covermodelLabel">Upload Cover Photo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="margin-bottom: 20px;">
				<input type="file" style="display:none" #file class="btn btn-primary" (change)="fileCovChangeEvent($event)" />
				<button type="button" class="btn btn-primary" (click)="file.click();" style="position: absolute; top: 10px;">Upload Image</button>
				<div class="text-center col-md-12" *ngIf="imgeDiv" style="margin-top: 50px;">
						<image-cropper
						[imageChangedEvent]="imageChangedEvent"
						[maintainAspectRatio]="true"
						[aspectRatio]="4 / 1"
						[resizeToWidth]="1520"
						format="png"
						(imageCropped)="covImageCropped($event)"
						(imageLoaded)="imageLoaded()"
						(cropperReady)="cropperReady()"
						(loadImageFailed)="loadImageFailed()"></image-cropper>
				</div>
				<div class="text-center col-md-12" *ngIf="imgeDiv" style="margin-top: 50px;">
						<img [src]="croppedCovImage" onerror="this.src='/assets/images/default_user.jpg';" style="height: 210px; width: 100%;">
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="uploadCov()" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
