<header>
	<div class="header_alignment d-flex justify-content-between align-items-center">
		<div class="logo">
			<img class="logo" src="assets/images/logo.png">
		</div>
		<div class="ads d-flex align-items-center justify-content-center">advertisements here</div>
		<div class="login_container d-flex justify-content-end">
			<div class="position-relative">
				<img class="logout" src="assets/images/logout.png">
				<button [routerLink]="['']">Log out</button>
			</div>
		</div>
	</div>
</header>

<div class="cover_pic"></div>
<div class="bg-white profile_navbar">
	<div class="profile_pic_main_tabs_sec width_95">
		<div class="profile_pic position-relative">
			<img src="assets/images/user3.jpg">
			<div class="profile_name">Lynda Wexler</div>
		</div>
		<div class="actions">
			<button>Timeline</button>
			<button>About</button>
			<button>Photos</button>
			<button>Friends</button>
			<button>More</button>
		</div>
		<div class="main_action">
			<button class="position-relative"><i class="fas fa-user-plus"></i>Add as Friend</button>
		</div>
	</div>
</div>

<div class="main d-flex">
	<div class="left_sidebar">
		<div class="intro">
			<div class="left_title w_90">Intro</div>
			<div class="some_words w_90">I Do not know how? But i believe that it is possible one day if i stay with my dream all time!</div>
			<div class="info_container w_90 d-flex align-items-center">
				<i class="fas fa-briefcase"></i>
				<div>Web designer</div>
			</div>
			<div class="info_container w_90 d-flex align-items-center">
				<i class="fas fa-home"></i>
				<div>Surat, India</div>
			</div>
			<div class="info_container w_90 d-flex align-items-center">
				<i class="fas fa-grin-hearts"></i>
				<div>Football, Movies, Music</div>
			</div>
			<div class="info_container w_90 d-flex align-items-center">
				<i class="fas fa-stopwatch"></i>
				<div>Joined on october 2009</div>
			</div>
		</div>
		<div class="photos">
			<div class="left_title w_90">Photos</div>
			<div class="photos_container w_90">
				<img src="assets/images/gal_1.jpg">
				<img src="assets/images/gal_2.jpg">
				<img src="assets/images/gal_3.jpg">
				<img src="assets/images/gal_4.jpg">
				<img src="assets/images/gal_5.jpg">
				<img src="assets/images/gal_6.jpg">
				<img src="assets/images/gal_7.jpg">
				<img src="assets/images/gal_1.jpg">
				<img src="assets/images/gal_2.jpg">
			</div>
		</div>
		<div class="Friends">
			<div class="left_title w_90">Friends</div>
			<div class="friends_container w_90">
				<div class="a_friend">
					<img src="assets/images/user2.jpg">
					<div>jessy spears</div>
				</div>
				<div class="a_friend">
					<img src="assets/images/profile.jpg">
					<div>Gus fring</div>
				</div>
				<div class="a_friend">
					<img src="assets/images/gal_3.jpg">
					<div>Jenny jane</div>
				</div>
				<div class="a_friend">
					<img src="assets/images/user2.jpg">
					<div>jessy spears</div>
				</div>
				<div class="a_friend">
					<img src="assets/images/profile.jpg">
					<div>Gus fring</div>
				</div>
				<div class="a_friend">
					<img src="assets/images/gal_3.jpg">
					<div>Jenny jane</div>
				</div>
				<div class="a_friend">
					<img src="assets/images/user2.jpg">
					<div>jessy spears</div>
				</div>
				<div class="a_friend">
					<img src="assets/images/profile.jpg">
					<div>Gus fring</div>
				</div>
				<div class="a_friend">
					<img src="assets/images/gal_3.jpg">
					<div>Jenny jane</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main_area">
		<div class="say_words position-relative">
			<input type="text" placeholder=" Wanna Say something to Lynda?!">
			<button>Post</button>
		</div>
		<div class="main_post_content d-flex flex-column">
			<div class="d-flex">
				<div class="profile_pic_profile position-relative">
					<img src="assets/images/user3.jpg">
				</div>
				<div class="name_and_desc">
					<div class="d-flex justify-content-between align-items-center">
						<div class="profile_name_of_poster">Lynda Wexler</div>
						<div class="province d-flex align-items-center">
							<img src="assets/images/add_ob.png">
							<div>Pulshar, MB</div>
						</div>
					</div>
					<div class="item_desc mt-3">Hi there, I want to sell my mobile Lorem ipsum dolor sit amet, consectetur adipiscing elit. Utafaf aliquet non mi eget facilisis. Donec facilisis purus eu urna sollicitudin, sed mollis felis ultrices. Nulla sagittis sodales dui ut ornare. Donec feugiat at lacus et tempor. Vivamus eros odio, convallis ut orci et, feugiat ultrices elit. Aenean suscipit tellus accumsan, gravida risus sed, sagittis velit.</div>
				</div>
			</div>
			<div class="slider_bid_like-share d-flex flex-column">
				<div class="owl-carousel owl-theme">
					<div class="item">
						<img class="slider_image" src="assets/images/gal_2.jpg">
					</div>
					<div class="item">
						<img class="slider_image" src="assets/images/gal_3.jpg">
					</div>
					<div class="item">
						<img class="slider_image" src="assets/images/gal_4.jpg">
					</div>
				</div>
				<div class="cat_bid d-flex justify-content-between align-items-center mt-3">
					<div class="category">Electronics</div>
					<div class="bid_current d-flex align-items-center">
						<div class="current_bid">Current bid @</div>
						<div>310$</div>
					</div>
				</div>
				<div class="bid_section d-flex justify-content-between align-items-center mt-3">
					<div class="d-flex align-items-center">
						<div class="starting_bid mt-0">Asking Price @</div>
						<div class="main-price">300$</div>
					</div>
					<div class="bid_now">
						<button>BID NOW</button>
					</div>
				</div>
				<div class="take_action">
					<button class="like_sec">
						<i class="far fa-thumbs-up"></i>
						<div>Like <span>1.4k</span></div>
					</button>
					<button id="hide show" class="comment_sec">
						<i class="far fa-comment-dots"></i>
						<div>Comment<span>96</span></div>
					</button>
					<button class="share_sec">
						<i class="far fa-share"></i>
						<div>Share<span>7</span></div>
					</button>
				</div>
				<div class="comments_container" style="display: none;">
					<div class="comment_title">Comments:</div>
					<div class="comment_user d-flex ">
						<img src="assets/images/profile.jpg">
						<div>
							<div class="commenter">Arturo flex</div>
							<div class="comment_here">Nulla sagittis sodales dui ut ornare. Donec feugiat at lacus et tempor. Vivamus eros odio, convallis ut orci et, feugiat ultrices elit. Aenean suscipit tellus accumsan, gravida risus sed,</div>
						</div>
					</div>
					<div class="comment_user d-flex ">
						<img src="assets/images/user2.jpg">
						<div>
							<div class="commenter">Mellisa mcmahon</div>
							<div class="comment_here">Nulla sagittis sodales dui ut ornare. Donec feugiat at lacus et tempor. Vivamus eros odio, convallis ut orci et, feugiat ultrices elit. Aenean suscipit tellus accumsan, gravida risus sed,</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main_post_content d-flex flex-column">
			<div class="d-flex">
				<div class="profile_pic_profile position-relative">
					<img src="assets/images/user3.jpg">
				</div>
				<div class="name_and_desc">
					<div class="d-flex justify-content-between align-items-center">
						<div class="profile_name_of_poster">Lynda Wexler</div>
						<div class="province d-flex align-items-center">
							<img src="assets/images/add_ob.png">
							<div>Pulshar, MB</div>
						</div>
					</div>
					<div class="item_desc mt-3">Hi there, I want to sell my mobile Lorem ipsum dolor sit amet, consectetur adipiscing elit. Utafaf aliquet non mi eget facilisis. Donec facilisis purus eu urna sollicitudin, sed mollis felis ultrices. Nulla sagittis sodales dui ut ornare. Donec feugiat at lacus et tempor. Vivamus eros odio, convallis ut orci et, feugiat ultrices elit. Aenean suscipit tellus accumsan, gravida risus sed, sagittis velit.</div>
				</div>
			</div>
			<div class="slider_bid_like-share d-flex flex-column">
				<div class="owl-carousel owl-theme">
					<div class="item">
						<img class="slider_image" src="assets/images/gal_4.jpg">
					</div>
					<div class="item">
						<img class="slider_image" src="assets/images/gal_2.jpg">
					</div>
					<div class="item">
						<img class="slider_image" src="assets/images/gal_3.jpg">
					</div>
				</div>
				<div class="cat_bid d-flex justify-content-between align-items-center mt-3">
					<div class="category">Electronics</div>
					<div class="bid_current d-flex align-items-center">
						<div class="current_bid">Current bid @</div>
						<div>310$</div>
					</div>
				</div>
				<div class="bid_section d-flex justify-content-between align-items-center mt-3">
					<div class="d-flex align-items-center">
						<div class="starting_bid mt-0">Asking Price @</div>
						<div class="main-price">300$</div>
					</div>
					<div class="bid_now">
						<button>BID NOW</button>
					</div>
				</div>
				<div class="take_action">
					<button class="like_sec">
						<i class="far fa-thumbs-up"></i>
						<div>Like <span>1.4k</span></div>
					</button>
					<button id="hide show" class="comment_sec">
						<i class="far fa-comment-dots"></i>
						<div>Comment<span>96</span></div>
					</button>
					<button class="share_sec">
						<i class="far fa-share"></i>
						<div>Share<span>7</span></div>
					</button>
				</div>
				<div class="comments_container" style="display: none;">
					<div class="comment_title">Comments:</div>
					<div class="comment_user d-flex ">
						<img src="assets/images/profile.jpg">
						<div>
							<div class="commenter">Arturo flex</div>
							<div class="comment_here">Nulla sagittis sodales dui ut ornare. Donec feugiat at lacus et tempor. Vivamus eros odio, convallis ut orci et, feugiat ultrices elit. Aenean suscipit tellus accumsan, gravida risus sed,</div>
						</div>
					</div>
					<div class="comment_user d-flex ">
						<img src="assets/images/user2.jpg">
						<div>
							<div class="commenter">Mellisa mcmahon</div>
							<div class="comment_here">Nulla sagittis sodales dui ut ornare. Donec feugiat at lacus et tempor. Vivamus eros odio, convallis ut orci et, feugiat ultrices elit. Aenean suscipit tellus accumsan, gravida risus sed,</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="right_sidebar">
		<div class="notification_sec">
			<div class="right_title w_90">Recent Notification</div>
			<div class="all_notification w_90">
				<div class="notifiy w_90 d-flex flex-column">
					<div class="d-flex align-items-center">
						<img src="assets/images/user2.jpg">
						<div>I have recently sold my painting at 420$</div>
					</div>
					<div class="time_ago">5 minutes ago.</div>
				</div>
				<div class="notifiy w_90 d-flex flex-column">
					<div class="d-flex align-items-center">
						<img src="assets/images/user3.jpg">
						<div>Your friend likes to see his product 'mercedes car' </div>
					</div>
					<div class="time_ago">an hour ago.</div>
				</div>
				<div class="notifiy w_90 d-flex flex-column">
					<div class="d-flex align-items-center">
						<img src="assets/images/user2.jpg">
						<div>I have recently sold my painting at 420$</div>
					</div>
					<div class="time_ago">3 hours ago.</div>
				</div>
				<div class="notifiy w_90 d-flex flex-column">
					<div class="d-flex align-items-center">
						<img src="assets/images/user3.jpg">
						<div>Your friend likes to see his product 'mercedes car' </div>
					</div>
					<div class="time_ago">1 Day ago.</div>
				</div>
			</div>
		</div>
	</div>
</div>
